# Assessment for Advanced Data Science
# *Data Pipelines*

## Radzim Sendyka, Christian Cabrera, Carl Henrik Ek and Neil D. Lawrence

### 19 November 2024

Welcome to the course assessment for the Advanced Data Science unit. In this assessment, you will build two data pipelines and prediction systems.

The maximum total mark for this assessment is 20. That mark is split into two miniprojects below.
- The first miniproject is worth 7 marks.
- The second miniproject is worth 13 marks.

*The check Session for this Assessment is 03 December 2024.*

# Task 1 (7 marks)

This example project builds on your experience from the practicals, using Open Street Maps, and connecting them to real-world datasets.

Your prediction system will be based on data from the 2021 UK Census, and Open Street Maps.

### Build a data pipeline and prediction system.

Structure your system around the [Access-Assess-Address](https://inverseprobability.com/talks/notes/access-assess-address-a-pipeline-for-automated-data-science.html) framework for automated data science.
Use the framework of [Data Readiness Levels](https://inverseprobability.com/publications/data-readiness-levels.html) to track the state of your datasets throughout the process.
Visualise your data and predictions using appropriate charts and graphics.
Remember, your notebook should tell a story.

1.1. Download the data from online sources. In this task you will need:
  - UK Census Data
    - The UK Census data file for and Socio-economic Classification (NS SEC) [here](https://www.ons.gov.uk/datasets/TS062/editions/2021/versions/5) or [here](https://www.nomisweb.co.uk/sources/census_2021_bulk). Use the most detailed area type (Output Areas).
    - One other UK Census data file of your choosing [here](https://www.ons.gov.uk/search?topics=9731,6646,3845,9497,4262,4128,7755,4994,6885,9724,7367&filter=datasets) or [here](https://www.nomisweb.co.uk/sources/census_2021_bulk). Use the most detailed area type available.
    - Geographic coordinates of Census Output Areas [here](https://www.data.gov.uk/dataset/4d4e021d-fe98-4a0e-88e2-3ead84538537/output-areas-december-2021-boundaries-ew-bgc-v2).
  - Spatial data
    - Set up an API connection to Open Street Maps [here](https://osmnx.readthedocs.io/en/stable/). Optionally, to be able to use more data in training, you might want to also download the entire map for England (or more) [here](https://download.openstreetmap.fr/extracts/) or [here](https://wiki.openstreetmap.org/wiki/Planet.osm).

1.2. Structure the data, and upload it to your AWS database.

- Census datasets can be huge and unwieldy to manipulate directly in python frameworks such as pandas. As a result we will host the data in a relational database.

- Using a cloud hosted database (such as MariaDB hosted on the AWS RDS service),  you will construct a database containing tables that contain per-output-area data, latitudes and longitudes of the output areas, and potentially, extracted selected open street maps features from the country-wide data file.

- Make sure you set the correct indices on your data, which will allow your code to run much faster. Hint: create an index on any columns you will be looking up, and joint indices if your lookup involves multiple columns (like coordinates).

You will likely find the following resources helpful.

- Lecture 1, 2 and 3.
- Lab class 1 and 2.


- *Note, this particular dataset could probably be handled directly in pandas, but you are explicitly tasked with using a database. This is a compromise from previous iterations of this course, where students spent quite a lot of time struggling from the size of the data. This is an opportunity for you to demonstrate your skills, as well as prepare for the second part of the assessment where databases might be necessary. Approach that do not use databases where needed will be penalised during marking.*


2.0. Explore the data.

  - To make predictions you will augment your data with information obtained from Open Street Map: an open license source of mapping information. You will need to use the techniques you have learnt in the course to indentify and incorporate useful features for your prediction tasks.
  - Look at the percentage of students (NS SEC code L15) in the individual output areas, and explore how it's related to various types of open street map features in those locations. Use the relationships you found to suggest the features to be used in a system that predicts percentage of students in a given area.
  - Do the same for an additional census variable (e.g., the average age in a given area).

3.0. Make a prediction system.
- Use Open Street Maps to predict Socio-Economic Status - in particular, the percent of full time students, from OSM features. Your function should take as input a coordinate pair (you can assume it will be in England), and return an estimate for the share of students in that area.

- Do the same for the additional census variable you selected in the previous step.

Hints:

  - *Some of the census data sheets are very detailed. You might want to try "boiling them down" to some aggregate value or selecting just the most important columns.*

  - *This assignment is focused on data pipelines, rather than machine learning, so we do not expect any advanced architectures here - a linear model or similar is perfectly fine.*
  
  - *For data exploration, or picking your second dataset, you may find useful the [interactive map](https://www.ons.gov.uk/census/maps/) of the census data.*

### Story.

- Remember the notebook you create should tell a story, any code that is not critical to that story can safely be placed into the associated analysis library and imported for use (structured as given in the Fynesse template). Make sure your decisions are well substanciated and flow nicely throughout the notebook, with clear explanations.

- Explain everything you do. Why is your question important, why you selected the datasets you did, why did you join them how you did, why did you look at the things you looked at.

Make sure in your notebook you discuss the design decisions you made in your pipeline and prediction system. How did you structure your notebook? How did you track data readiness? Which aspects of your system could be improved further?

Make sure you compare how you predict student population and your second chosen property. What differences are there, in the underlying data, process, and results?

Make sure you discuss the reusability of your data pipeline and prediction system. What changes to the underlying data/system is it resilient to, and what isn't it? What work would need to be done to adjust it to answer questions about other statistics, or a different country, instead?

### Fynesse library.

- Alongside your implementation you will provide a short repository overview describing how you have implemented the different parts of the project and where you have placed those parts in your code repository. You will submit your code alongside a version of this notebook that will allow your examiner to understand and reconstruct the thinking behind your analysis. This notebook is structured to help you in creating that description and allow you to understand how we will allocate the marks. You should make use of the Fynesse framework (https://github.com/lawrennd/fynesse_template) for structuring your code.

- One artefact to be included in your submission is a python library structured according to the "Access, Assess, Address" standard for data science solutions. You will submit this library alongside your code. Use the cell below to perform the necessary installation instructions for your library.
You should base your module on the template repository given by the Fynesse template repository. That should make it pip-installable as below.
`%pip install git+https://github.com/lawrennd/fynesse_template.git`. You can either replace fynesse with the name you've given your analysis module or you can leave the name as fynesse if you prefer.

- Remember the notebook you create should tell a story, any code that is not critical to that story can safely be placed into the associated analysis library and imported for use (structured as given in the Fynesse template). Remember to include you fynesse library in your submission.

Let's start with installing, importing, and checking contents of fynesse library:

In [1081]:
%pip uninstall --yes fynesse
%pip install git+https://github.com/sdenyskov/sd995_ads_2024.git

Found existing installation: fynesse 0.1.0
Uninstalling fynesse-0.1.0:
  Successfully uninstalled fynesse-0.1.0
Note: you may need to restart the kernel to use updated packages.
Collecting git+https://github.com/sdenyskov/sd995_ads_2024.git
  Cloning https://github.com/sdenyskov/sd995_ads_2024.git to /private/var/folders/tq/f7lcjhp564g26624rbp38l240000gn/T/pip-req-build-jffd78wr
  Running command git clone --filter=blob:none --quiet https://github.com/sdenyskov/sd995_ads_2024.git /private/var/folders/tq/f7lcjhp564g26624rbp38l240000gn/T/pip-req-build-jffd78wr
  Resolved https://github.com/sdenyskov/sd995_ads_2024.git to commit db9e50c8e9828cfdd9715442e77045f018b27831
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from fynesse==0.1.0) (2.1.1)
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from fynesse==0.1.0) (1.24.2)
Requirement already satisfied: jupyter in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from fynesse==0.1.0) (1.1.1)
Requirement already satisfied: matplotlib in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from fynesse==0.1.0) (3.9.2)
Requirement already satisfied: notebook in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyter->fynesse==0.1.0) (7.2.2)
Requirement already satisfied: jupyter-console in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyter->fynesse==0.1.0) (6.6.3)
Requirement already satisfied: nbconvert in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyter->fynesse==0.1.0) (7.16.4)
Requirement already satisfied: ipykernel in /Users/sv/Library/Python/3.10/lib/python/site-packages (from jupyter->fynesse==0.1.0) (6.26.0)
Requirement already satisfied: ipywidgets in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyter->fynesse==0.1.0) (8.1.5)
Requirement already satisfied: jupyterlab in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyter->fynesse==0.1.0) (4.2.5)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib->fynesse==0.1.0) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib->fynesse==0.1.0) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib->fynesse==0.1.0) (4.39.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib->fynesse==0.1.0) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib->fynesse==0.1.0) (23.0)
Requirement already satisfied: pillow>=8 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib->fynesse==0.1.0) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib->fynesse==0.1.0) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from matplotlib->fynesse==0.1.0) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas->fynesse==0.1.0) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from pandas->fynesse==0.1.0) (2023.3)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib->fynesse==0.1.0) (1.16.0)
Requirement already satisfied: appnope in /Users/sv/Library/Python/3.10/lib/python/site-packages (from ipykernel->jupyter->fynesse==0.1.0) (0.1.3)
Requirement already satisfied: comm>=0.1.1 in /Users/sv/Library/Python/3.10/lib/python/site-packages (from ipykernel->jupyter->fynesse==0.1.0) (0.1.4)
Requirement already satisfied: debugpy>=1.6.5 in /Users/sv/Library/Python/3.10/lib/python/site-packages (from ipykernel->jupyter->fynesse==0.1.0) (1.8.0)
Requirement already satisfied: ipython>=7.23.1 in /Users/sv/Library/Python/3.10/lib/python/site-packages (from ipykernel->jupyter->fynesse==0.1.0) (8.16.1)
Requirement already satisfied: jupyter-client>=6.1.12 in /Users/sv/Library/Python/3.10/lib/python/site-packages (from ipykernel->jupyter->fynesse==0.1.0) (8.5.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in /Users/sv/Library/Python/3.10/lib/python/site-packages (from ipykernel->jupyter->fynesse==0.1.0) (5.4.0)
Requirement already satisfied: matplotlib-inline>=0.1 in /Users/sv/Library/Python/3.10/lib/python/site-packages (from ipykernel->jupyter->fynesse==0.1.0) (0.1.6)
Requirement already satisfied: nest-asyncio in /Users/sv/Library/Python/3.10/lib/python/site-packages (from ipykernel->jupyter->fynesse==0.1.0) (1.5.8)
Requirement already satisfied: psutil in /Users/sv/Library/Python/3.10/lib/python/site-packages (from ipykernel->jupyter->fynesse==0.1.0) (5.9.6)
Requirement already satisfied: pyzmq>=20 in /Users/sv/Library/Python/3.10/lib/python/site-packages (from ipykernel->jupyter->fynesse==0.1.0) (25.1.1)
Requirement already satisfied: tornado>=6.1 in /Users/sv/Library/Python/3.10/lib/python/site-packages (from ipykernel->jupyter->fynesse==0.1.0) (6.3.3)
Requirement already satisfied: traitlets>=5.4.0 in /Users/sv/Library/Python/3.10/lib/python/site-packages (from ipykernel->jupyter->fynesse==0.1.0) (5.12.0)
Requirement already satisfied: widgetsnbextension~=4.0.12 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipywidgets->jupyter->fynesse==0.1.0) (4.0.13)
Requirement already satisfied: jupyterlab-widgets~=3.0.12 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipywidgets->jupyter->fynesse==0.1.0) (3.0.13)
Requirement already satisfied: prompt-toolkit>=3.0.30 in /Users/sv/Library/Python/3.10/lib/python/site-packages (from jupyter-console->jupyter->fynesse==0.1.0) (3.0.39)
Requirement already satisfied: pygments in /Users/sv/Library/Python/3.10/lib/python/site-packages (from jupyter-console->jupyter->fynesse==0.1.0) (2.16.1)
Requirement already satisfied: async-lru>=1.0.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyterlab->jupyter->fynesse==0.1.0) (2.0.4)
Requirement already satisfied: httpx>=0.25.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyterlab->jupyter->fynesse==0.1.0) (0.27.2)
Requirement already satisfied: jinja2>=3.0.3 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyterlab->jupyter->fynesse==0.1.0) (3.1.4)
Requirement already satisfied: jupyter-lsp>=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyterlab->jupyter->fynesse==0.1.0) (2.2.5)
Requirement already satisfied: jupyter-server<3,>=2.4.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyterlab->jupyter->fynesse==0.1.0) (2.14.2)
Requirement already satisfied: jupyterlab-server<3,>=2.27.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyterlab->jupyter->fynesse==0.1.0) (2.27.3)
Requirement already satisfied: notebook-shim>=0.2 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyterlab->jupyter->fynesse==0.1.0) (0.2.4)
Requirement already satisfied: setuptools>=40.1.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyterlab->jupyter->fynesse==0.1.0) (63.2.0)
Requirement already satisfied: tomli>=1.2.2 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyterlab->jupyter->fynesse==0.1.0) (2.0.2)
Requirement already satisfied: beautifulsoup4 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from nbconvert->jupyter->fynesse==0.1.0) (4.12.3)
Requirement already satisfied: bleach!=5.0.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from nbconvert->jupyter->fynesse==0.1.0) (6.2.0)
Requirement already satisfied: defusedxml in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from nbconvert->jupyter->fynesse==0.1.0) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from nbconvert->jupyter->fynesse==0.1.0) (0.3.0)
Requirement already satisfied: markupsafe>=2.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from nbconvert->jupyter->fynesse==0.1.0) (2.1.3)
Requirement already satisfied: mistune<4,>=2.0.3 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from nbconvert->jupyter->fynesse==0.1.0) (3.0.2)
Requirement already satisfied: nbclient>=0.5.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from nbconvert->jupyter->fynesse==0.1.0) (0.10.0)
Requirement already satisfied: nbformat>=5.7 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from nbconvert->jupyter->fynesse==0.1.0) (5.10.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from nbconvert->jupyter->fynesse==0.1.0) (1.5.1)
Requirement already satisfied: tinycss2 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from nbconvert->jupyter->fynesse==0.1.0) (1.4.0)
Requirement already satisfied: typing-extensions>=4.0.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from async-lru>=1.0.0->jupyterlab->jupyter->fynesse==0.1.0) (4.8.0)
Requirement already satisfied: webencodings in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from bleach!=5.0.0->nbconvert->jupyter->fynesse==0.1.0) (0.5.1)
Requirement already satisfied: anyio in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (4.6.2.post1)
Requirement already satisfied: certifi in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (2023.7.22)
Requirement already satisfied: httpcore==1.* in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (1.0.6)
Requirement already satisfied: idna in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (3.4)
Requirement already satisfied: sniffio in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (1.3.1)
Requirement already satisfied: h11<0.15,>=0.13 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from httpcore==1.*->httpx>=0.25.0->jupyterlab->jupyter->fynesse==0.1.0) (0.14.0)
Requirement already satisfied: backcall in /Users/sv/Library/Python/3.10/lib/python/site-packages (from ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (0.2.0)
Requirement already satisfied: decorator in /Users/sv/Library/Python/3.10/lib/python/site-packages (from ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/sv/Library/Python/3.10/lib/python/site-packages (from ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (0.19.1)
Requirement already satisfied: pickleshare in /Users/sv/Library/Python/3.10/lib/python/site-packages (from ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (0.7.5)
Requirement already satisfied: stack-data in /Users/sv/Library/Python/3.10/lib/python/site-packages (from ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (0.6.3)
Requirement already satisfied: exceptiongroup in /Users/sv/Library/Python/3.10/lib/python/site-packages (from ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (1.1.3)
Requirement already satisfied: pexpect>4.3 in /Users/sv/Library/Python/3.10/lib/python/site-packages (from ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (4.8.0)
Requirement already satisfied: platformdirs>=2.5 in /Users/sv/Library/Python/3.10/lib/python/site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel->jupyter->fynesse==0.1.0) (3.11.0)
Requirement already satisfied: argon2-cffi>=21.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (23.1.0)
Requirement already satisfied: jupyter-events>=0.9.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (0.10.0)
Requirement already satisfied: jupyter-server-terminals>=0.4.4 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (0.5.3)
Requirement already satisfied: overrides>=5.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (7.7.0)
Requirement already satisfied: prometheus-client>=0.9 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (0.21.0)
Requirement already satisfied: send2trash>=1.8.2 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (1.8.3)
Requirement already satisfied: terminado>=0.8.3 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (0.18.1)
Requirement already satisfied: websocket-client>=1.7 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (1.8.0)
Requirement already satisfied: babel>=2.10 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (2.16.0)
Requirement already satisfied: json5>=0.9.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (0.9.25)
Requirement already satisfied: jsonschema>=4.18.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (4.23.0)
Requirement already satisfied: requests>=2.31 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (2.31.0)
Requirement already satisfied: fastjsonschema>=2.15 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from nbformat>=5.7->nbconvert->jupyter->fynesse==0.1.0) (2.20.0)
Requirement already satisfied: wcwidth in /Users/sv/Library/Python/3.10/lib/python/site-packages (from prompt-toolkit>=3.0.30->jupyter-console->jupyter->fynesse==0.1.0) (0.2.8)
Requirement already satisfied: soupsieve>1.2 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from beautifulsoup4->nbconvert->jupyter->fynesse==0.1.0) (2.6)
Requirement already satisfied: argon2-cffi-bindings in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from argon2-cffi>=21.1->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (21.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /Users/sv/Library/Python/3.10/lib/python/site-packages (from jedi>=0.16->ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (0.8.3)
Requirement already satisfied: attrs>=22.2.0 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (24.2.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jsonschema>=4.18.0->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (0.21.0)
Requirement already satisfied: python-json-logger>=2.0.4 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (2.0.7)
Requirement already satisfied: pyyaml>=5.3 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (6.0.2)
Requirement already satisfied: rfc3339-validator in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from jupyter-events>=0.9.0->jupyter-server<3,>=2.4.0->jupyterlab->jupyter->fynesse==0.1.0) (0.1.1)
Requirement already satisfied: ptyprocess>=0.5 in /Users/sv/Library/Python/3.10/lib/python/site-packages (from pexpect>4.3->ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (0.7.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (3.3.1)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from requests>=2.31->jupyterlab-server<3,>=2.27.1->jupyterlab->jupyter->fynesse==0.1.0) (2.0.7)
Requirement already satisfied: executing>=1.2.0 in /Users/sv/Library/Python/3.10/lib/python/site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (2.0.0)
Requirement already satisfied: asttokens>=2.1.0 in /Users/sv/Library/Python/3.10/lib/python/site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (2.4.0)
Requirement already satisfied: pure-eval in /Users/sv/Library/Python/3.10/lib/python/site-packages (from stack-data->ipython>=7.23.1->ipykernel->jupyter->fynesse==0.1.0) (0.2.2)

In [1082]:
import fynesse

In [1083]:
import os

print('FUNCTION DECLARATIONS:')
print()
package_path = os.path.dirname(fynesse.__file__)
for root, dirs, files in os.walk(package_path):
    for file in files:
        file_path = os.path.join(root, file)
        if file_path.endswith("s.py"):
            print(f"--- Function declarations in {file_path} ---\n")
            try:
                with open(file_path, "r", encoding="utf-8") as f:
                    lines = f.readlines()
                    for line in lines:
                        if line.strip().startswith('def '):
                            print(line.strip())
            except Exception as e:
                print(f"Could not read {file_path}: {e}")
            print()

FUNCTION DECLARATIONS:

--- Function declarations in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/fynesse/address.py ---

def fit_and_predict(x, y, x_pred, design_matrix = lambda x: x.reshape(-1, 1), regularised = False, alpha = 0.05, L1_wt = 1.0):
def cross_validation(x, y, k):
def predict_age_profile(nssec_df, age_df, nssec_row_to_predict):

--- Function declarations in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/fynesse/access.py ---

def download_data_csv(file_url_list, file_name_list):
def download_data_zip(file_url, file_name):
def download_census_data(code, base_dir=''):
def load_census_data(code, level='msoa'):
def create_connection(database='ads_2024'):
def csv_to_df(file_name):
def csv_to_db(conn, file_name, table_name, ignore_first_row):
def db_to_csv(conn, table_name, file_name):
def df_to_csv(df, file_name):
def housing_upload_join_data_csv(conn, start_date, end_date, csv_file_name):
def housing_upload_join_data(conn, start_date, end_date):
def download_and_extract_zip(url, zip_file_path, extraction_folder):
def get_bounds(lat, lon, km_box_dimension):
def get_bounds_by_name(place_name):
def km_distance(lat1, lon1, lat2, lon2):
def get_all_buildings_from_osm_by_bounds(bounds, tags = {'building': True}):

--- Function declarations in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/fynesse/assess.py ---

def csv_preview(file_name):
def execute_query(conn, query):
def create_table_by_query(conn, table_name, columns, column_names, data_types, constraints):
def create_single_index(conn, index_name, table_name, field_name):
def create_multiple_index(conn, index_name, table_name, field_names):
def get_summary_on_db(conn):
def normalise_df(data, columns_not_to_normalize = ['location']):
def kmeans_clusters(data, n_clusters):
def plot_clusters(clustered_data, n_clusters):
def plot_correlation_matrix(data, columns_to_drop):
def plot_predictions_against_trues(y, y_pred, limits = None):
def plot_predictions_and_trues(x_values, true_values, pred_values, limits = None):
def count_pois_near_coordinates_by_bounds(bounds, tags):
def get_houses_from_price_data_by_bounds(conn, bounds):
def filter_buildings_from_osm(all_buildings_from_osm):
def capitalize(x):
def match_buildings_from_osm(valid_buildings_from_osm, all_houses_from_db):
def plot_buildings(bounds, place_name, layer1, layer2 = None, layer3 = None):

## Access

In [859]:
import subprocess
import glob
import time
import geopandas as gpd
import requests
import zipfile
import pandas as pd
import statsmodels.api as sm
import pymysql

### Downloading data from online sources

We will start with downloading needed data from online sources. In this task we will need the following:

#### Census Data

- UK Census data file for and Socio-economic Classification (NS SEC) - we will use the most detailed area type (Output Areas).

In [37]:
fynesse.access.download_census_data('TS062')
nssec_2021_df = fynesse.access.load_census_data('TS062', level='oa')
nssec_2021_df

Files already exist at: census2021-ts062.

,date,geography,geography code,National Statistics Socio-economic Classification (NS-SEC): Total: All usual residents aged 16 years and over,"National Statistics Socio-economic Classification (NS-SEC): L1, L2 and L3 Higher managerial, administrative and professional occupations","National Statistics Socio-economic Classification (NS-SEC): L4, L5 and L6 Lower managerial, administrative and professional occupations",National Statistics Socio-economic Classification (NS-SEC): L7 Intermediate occupations,National Statistics Socio-economic Classification (NS-SEC): L8 and L9 Small employers and own account workers,National Statistics Socio-economic Classification (NS-SEC): L10 and L11 Lower supervisory and technical occupations,National Statistics Socio-economic Classification (NS-SEC): L12 Semi-routine occupations,National Statistics Socio-economic Classification (NS-SEC): L13 Routine occupations,National Statistics Socio-economic Classification (NS-SEC): L14.1 and L14.2 Never worked and long-term unemployed,National Statistics Socio-economic Classification (NS-SEC): L15 Full-time students
0,2021,E00000001,E00000001,159,80,38,13,9,3,5,5,4,2
1,2021,E00000003,E00000003,222,96,58,8,26,2,5,2,5,20
2,2021,E00000005,E00000005,103,37,28,8,21,0,3,1,1,4
3,2021,E00000007,E00000007,140,62,39,5,11,3,3,1,6,10
4,2021,E00000010,E00000010,170,34,45,17,27,7,10,14,11,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188875,2021,W00010693,W00010693,737,2,8,5,8,7,9,14,2,682
188876,2021,W00010694,W00010694,304,35,87,40,31,23,26,33,7,22
188877,2021,W00010695,W00010695,154,12,44,22,15,12,15,17,11,6
188878,2021,W00010696,W00010696,176,32,55,26,14,9,13,12,7,8
188879,2021,W00010697,W00010697,215,16,59,40,21,10,30,27,4,8

- One other UK Census data file of our choosing - we will use Migrant Indicator - we will use the most detailed area type (Output Areas).

In [25]:
fynesse.access.download_census_data('TS019')
mi_2021_df = fynesse.access.load_census_data('TS019', level='oa')
mi_2021_df

Files already exist at: census2021-ts019.

,date,geography,geography code,Migrant indicator: Total: All usual residents; measures: Value,Migrant indicator: Address one year ago is the same as the address of enumeration; measures: Value,Migrant indicator: Address one year ago is student term-time or boarding school address in the UK; measures: Value,Migrant indicator: Migrant from within the UK: Address one year ago was in the UK; measures: Value,Migrant indicator: Migrant from outside the UK: Address one year ago was outside the UK; measures: Value
0,2021,E00060274,E00060274,271,253,0,18,0
1,2021,E00060275,E00060275,407,386,0,19,2
2,2021,E00060276,E00060276,257,245,0,12,0
3,2021,E00060277,E00060277,275,244,0,31,0
4,2021,E00060279,E00060279,272,257,0,15,0
...,...,...,...,...,...,...,...,...
188875,2021,W00006938,W00006938,217,204,0,13,0
188876,2021,W00006940,W00006940,418,406,0,12,0
188877,2021,W00006941,W00006941,273,259,0,13,1
188878,2021,W00006942,W00006942,327,315,1,11,0
188879,2021,W00009771,W00009771,222,204,0,18,0

- Geographic coordinates of Census Output Areas.

In [23]:
fynesse.access.download_data_csv(['https://open-geography-portalx-ons.hub.arcgis.com/api/download/v1/items/6beafcfd9b9c4c9993a06b6b199d7e6d/csv?layers=0'], ['uk_oa_list.csv'])
oa_df = fynesse.access.csv_to_df("uk_oa_list.csv")
oa_df

Downloading data from https://open-geography-portalx-ons.hub.arcgis.com/api/download/v1/items/6beafcfd9b9c4c9993a06b6b199d7e6d/csv?layers=0

,FID,OA21CD,LSOA21CD,LSOA21NM,LSOA21NMW,BNG_E,BNG_N,LAT,LONG,Shape__Area,Shape__Length,GlobalID
0,1,E00000001,E01000001,City of London 001A,,532250,181864,51.52022,-0.09523,6949.151482,421.166161,3a44dd3d-5082-4a09-9b9c-3a5fadc811ed
1,2,E00000003,E01000001,City of London 001A,,532171,181819,51.51983,-0.09638,4492.411072,307.714653,f1216dc8-14d1-4857-9230-cab0641758fb
2,3,E00000005,E01000001,City of London 001A,,532166,181722,51.51896,-0.09649,8565.514214,385.204781,44d6f70f-549c-4288-9b6d-de2adbf02582
3,4,E00000007,E01000001,City of London 001A,,532088,181473,51.51674,-0.09771,75994.829704,1408.607657,4dd683e1-9a5c-46cf-9e19-8465c8fbb6cb
4,5,E00000010,E01000003,City of London 001C,,532092,182114,51.52250,-0.09741,2102.876602,215.271975,7476781f-8fe4-4c9b-bde1-0eecbd146dff
...,...,...,...,...,...,...,...,...,...,...,...,...
188875,188876,W00010693,W01000062,Gwynedd 001A,Gwynedd 001A,257885,371596,53.22236,-4.13012,117624.672455,2070.603553,5f872a8d-7128-47b4-a6ab-487a8aa93716
188876,188877,W00010694,W01000645,Carmarthenshire 006C,Sir Gaerfyrddin 006C,240146,220834,51.86313,-4.32295,261298.148006,3228.184286,69c22977-5117-45ee-89d5-0eb35fc713b1
188877,188878,W00010695,W01000664,Carmarthenshire 016C,Sir Gaerfyrddin 016C,256581,213406,51.80086,-4.08136,196049.177578,2232.955182,b511da17-e4e3-4425-bd9b-bea99d2c5071
188878,188879,W00010696,W01001923,Carmarthenshire 026G,Sir Gaerfyrddin 026G,252233,198463,51.66546,-4.13803,358656.479244,2928.234067,b36d2ac0-a236-4e97-8dc0-044327808718
188879,188880,W00010697,W01000667,Carmarthenshire 023C,Sir Gaerfyrddin 023C,249792,200786,51.68569,-4.17430,41479.260704,929.445832,b9f72baf-42b1-4da6-9be6-45c1a86cd3ef

In [ ]:
url = "https://open-geography-portalx-ons.hub.arcgis.com/api/download/v1/items/6beafcfd9b9c4c9993a06b6b199d7e6d/shapefile?layers=0"
zip_file_path = "uk_oa_with_borders.zip"
extraction_folder = "uk_oa_with_borders"
fynesse.access.download_and_extract_zip(url, zip_file_path, extraction_folder)

In [424]:
gdf_oa_boundaries_2021 = gpd.read_file('uk_oa_with_borders/OA_2021_EW_BGC_V2.shp')
gdf_oa_boundaries_2021

,OA21CD,LSOA21CD,LSOA21NM,LSOA21NMW,BNG_E,BNG_N,LAT,LONG,GlobalID,geometry
0,E00000001,E01000001,City of London 001A,None,532250,181864,51.5202,-0.09523,3a44dd3d-5082-4a09-9b9c-3a5fadc811ed,"POLYGON ((532303.492 181814.110, 532213.378 18..."
1,E00000003,E01000001,City of London 001A,None,532171,181819,51.5198,-0.09638,f1216dc8-14d1-4857-9230-cab0641758fb,"POLYGON ((532213.378 181846.192, 532190.539 18..."
2,E00000005,E01000001,City of London 001A,None,532166,181722,51.5190,-0.09649,44d6f70f-549c-4288-9b6d-de2adbf02582,"POLYGON ((532180.131 181763.020, 532219.161 18..."
3,E00000007,E01000001,City of London 001A,None,532088,181473,51.5167,-0.09771,4dd683e1-9a5c-46cf-9e19-8465c8fbb6cb,"POLYGON ((532201.292 181668.180, 532267.728 18..."
4,E00000010,E01000003,City of London 001C,None,532092,182114,51.5225,-0.09741,7476781f-8fe4-4c9b-bde1-0eecbd146dff,"POLYGON ((532127.958 182133.192, 532089.264 18..."
...,...,...,...,...,...,...,...,...,...,...
188875,W00010693,W01000062,Gwynedd 001A,Gwynedd 001A,257885,371596,53.2224,-4.13012,5f872a8d-7128-47b4-a6ab-487a8aa93716,"POLYGON ((258000.635 371797.895, 258087.308 37..."
188876,W00010694,W01000645,Carmarthenshire 006C,Sir Gaerfyrddin 006C,240146,220834,51.8631,-4.32295,69c22977-5117-45ee-89d5-0eb35fc713b1,"POLYGON ((240288.250 220817.041, 240329.841 22..."
188877,W00010695,W01000664,Carmarthenshire 016C,Sir Gaerfyrddin 016C,256581,213406,51.8009,-4.08136,b511da17-e4e3-4425-bd9b-bea99d2c5071,"POLYGON ((256825.351 213622.891, 256842.777 21..."
188878,W00010696,W01001923,Carmarthenshire 026G,Sir Gaerfyrddin 026G,252233,198463,51.6655,-4.13803,b36d2ac0-a236-4e97-8dc0-044327808718,"POLYGON ((252565.969 198452.812, 252493.604 19..."
188879,W00010697,W01000667,Carmarthenshire 023C,Sir Gaerfyrddin 023C,249792,200786,51.6857,-4.17430,b9f72baf-42b1-4da6-9be6-45c1a86cd3ef,"POLYGON ((249940.489 200831.457, 249920.765 20..."

In [429]:
fynesse.access.df_to_csv(gdf_oa_boundaries_2021, "uk_oa_with_boundaries.csv")

DataFrame successfully saved to uk_oa_with_boundaries.csv

#### Spatial data

- We will also need to get spatial data - we will get it using Open Street Maps.

In [33]:
features_df = [
 'geometry',
 'ways',
 'nodes',
 'type',
 'addr:country',
 'addr:postcode',
 'addr:street',
 'addr:housenumber',
 'addr:city',
 'addr:housename',
 'addr:place',

 'name',
 'alt_name',
 'old_name',
 'nohousenumber',
 'note',

 'disused',
 'height',

 'amenity',
 'tourism',
 'brand',
 'leisure',
 'cuisine',
 'emergency',
 'historic',
 'sport',
 'shop',
 'religion',
 'power',
 'military',

 'house',
 'building',
 'building:material',
 'building:levels',
 'internet_access',

 'capacity',
 'roof:levels',
 'roof:shape'
 'fee',
 'man_made',
 'denomination',
 'layer']

features_db = ['element_type', 'osmid'] + features_df

In [ ]:
ew_bounds = {"north": 55.8, "south": 49.8, "east": 2.0, "west": -7.0}

west = -7.0
south = 49.8
step = 0.5
tags = {"building": True}

for i in range(5, 12):
    for j in range(0, 18):
        if i == 3 and (j == 13 or j == 14):
            continue # Greater London has to be processed separately
        file_name = f'osm_uk_{i}_{j}.csv'
        print(f'Getting dataframe to form {file_name}')
        bounds = (south + step * (i + 1), south + step * i, west + step * (j + 1), west + step * j)
        try:
            df = fynesse.access.get_all_buildings_from_osm_by_bounds(bounds, tags)
            for feature in features_df:
                if feature not in df.columns:
                    df[feature] = None
            df = df[features_df]
            df.to_csv("./" + file_name, index=True, header=True)
            print(f'{file_name} has been formed successfully')
        except Exception as e:
            print(f'{file_name} has not been created due to error "{e}"')

In [ ]:
gl_bounds = {"north": 51.8, "south": 51.3, "east": 0.5, "west": -0.5}

west = -0.5
south = 51.3
step = 0.25
tags = {"building": True}

for i in range(0, 2):
    for j in range(0, 4):
        file_name = f'osm_uk_gl_{i}_{j}.csv'
        print(f'Getting dataframe to form {file_name}')
        bounds = (south + step * (i + 1), south + step * i, west + step * (j + 1), west + step * j)
        try:
            df = fynesse.access.get_all_buildings_from_osm_by_bounds(bounds, tags)
            for feature in features_df:
                if feature not in df.columns:
                    df[feature] = None
            df = df[features_df]
            df.to_csv("./" + file_name, index=True, header=True)
            print(f'{file_name} has been formed successfully')
        except Exception as e:
            print(f'{file_name} has not been created due to error "{e}"')

In [ ]:
file_pattern = "used_osm_uk_data/osm_uk_*.csv"
file_list = glob.glob(file_pattern)
file_list.sort()

rows = 0

for file_name in file_list:
    try:
        result = subprocess.run(['wc', '-l', file_name], capture_output=True, text=True)
        row_count = int(result.stdout.split()[0]) - 1
        rows += row_count
        print(f'File {file_name} has {row_count} rows')
    except Exception as e:
        print(f'Error processing {file_name}: {e}')

In [ ]:
file_pattern = "used_osm_uk_data/osm_uk_*.csv"
file_list = glob.glob(file_pattern)
file_list.sort()

total_rows = 0
total_rows_with_postcode = 0

output_file = "osm_uk_valid_data.csv"
header = True

for file_name in file_list:
    df = pd.read_csv(file_name)
    df_with_postcode = df[(df[["addr:postcode"]].notnull().any(axis=1))]

    total_rows += len(df)
    total_rows_with_postcode += len(df_with_postcode)

    df_with_postcode.to_csv(output_file, mode ='a', index=False, header=header)
    header = False

    print(file_name + " has been processed.")

print("Total rows:", total_rows)
print("Rows with 'postcode' field not empty:", total_rows_with_postcode)

In [287]:
file_name = "osm_uk_valid_data.csv"
result = subprocess.run(['wc', '-l', file_name], capture_output=True, text=True)
row_count = int(result.stdout.split()[0]) - 1
print(f'File {file_name} has {row_count} rows')

File osm_uk_valid_data.csv has 2546212 rows

### Uploading data to AWS

Datasets that we are going to use can be huge and unwieldy to manipulate directly in python frameworks such as pandas. Therefore, we will host the data in a cloud hosted relational database (such as MariaDB hosted on the AWS RDS service).

Now let's structure the data and upload it to our AWS database.

We will construct tables that contain per-output-area data, latitudes and longitudes of the output areas, (and potentially, extracted selected open street maps features from the country-wide data file).

In [288]:
conn = fynesse.access.create_connection()

Connection established!

#### OSM dataset

In [ ]:
features_db = [feature.replace(":", "_") for feature in features_db]

query_create_osm_data = """
CREATE TABLE IF NOT EXISTS `osm_data` (
"""

rows = [f'  `{features_db[i]}` text COLLATE utf8_bin NOT NULL,\n' for i in range(len(features_db))]
rows[1] = f'  `{features_db[1]}` int unsigned NOT NULL,\n'
for row in rows:
  query_create_osm_data += row

query_create_osm_data += """  `db_id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  PRIMARY KEY (`db_id`)
) DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1;"""

print(query_create_osm_data)

In [316]:
fynesse.assess.execute_query(conn, query_create_osm_data)

[]

In [317]:
fynesse.access.csv_to_db(conn, 'osm_uk_valid_data.csv', 'osm_data', ignore_first_row=True)

Loading data into the table
Data loaded into the table osm_data

In [331]:
query = """
CREATE TABLE osm_data_subset AS
SELECT *
FROM osm_data
LIMIT 1000;
"""

fynesse.assess.execute_query(conn, query)

#### Census datasets

In [132]:
query_create_census_data_nssec = """
CREATE TABLE IF NOT EXISTS `census_data_nssec` (
  `date` int unsigned NOT NULL,
  `geography` varchar(9) COLLATE utf8_bin NOT NULL,
  `geography_code` varchar(9) COLLATE utf8_bin NOT NULL,
  `NSSEC_Total` int unsigned,
  `NSSEC_L1_L2_L3` int unsigned,
  `NSSEC_L4_L5_L6` int unsigned,
  `NSSEC_L7` int unsigned,
  `NSSEC_L8_L9` int unsigned,
  `NSSEC_L10_L11` int unsigned,
  `NSSEC_L12` int unsigned,
  `NSSEC_L13` int unsigned,
  `NSSEC_L14` int unsigned,
  `NSSEC_L15` int unsigned,
  `db_id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  PRIMARY KEY (`db_id`)
) DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1;"""

fynesse.assess.execute_query(conn, query_create_census_data_nssec)

[]

In [133]:
fynesse.access.csv_to_db(conn, 'census2021-ts062/census2021-ts062-oa.csv', 'census_data_nssec', ignore_first_row=True)

Loading data into the table
Data loaded into the table census_data_nssec

In [136]:
query_create_census_data_mi = """
CREATE TABLE IF NOT EXISTS `census_data_mi` (
  `date` int unsigned NOT NULL,
  `geography` varchar(9) COLLATE utf8_bin NOT NULL,
  `geography_code` varchar(9) COLLATE utf8_bin NOT NULL,
  `MI_Total` int unsigned,
  `MI_AddrYearAgoSameInUK` int unsigned,
  `MI_AddrYearAgoStudentInUK` int unsigned,
  `MI_AddrYearAgoInUK` int unsigned,
  `MI_AddrYearAgoOutUK` int unsigned,
  `db_id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  PRIMARY KEY (`db_id`)
) DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1;"""

fynesse.assess.execute_query(conn, query_create_census_data_mi)

[]

In [137]:
fynesse.access.csv_to_db(conn, 'census2021-ts019/census2021-ts019-oa.csv', 'census_data_mi', ignore_first_row=True)

Loading data into the table
Data loaded into the table census_data_mi

In [208]:
query_create_data_oa = """
CREATE TABLE IF NOT EXISTS `data_oa` (
  `FID` int unsigned NOT NULL,
  `OA21CD` varchar(9) COLLATE utf8_bin NOT NULL,
  `LSOA21CD` varchar(9) COLLATE utf8_bin NOT NULL,
  `LSOA21NM` tinytext COLLATE utf8_bin NOT NULL,
  `LSOA21NMW` tinytext COLLATE utf8_bin NOT NULL,
  `BNG_E` int unsigned NOT NULL,
  `BNG_N` int unsigned NOT NULL,
  `LAT` float NOT NULL,
  `LON` float NOT NULL,
  `ShapeArea` float NOT NULL,
  `ShapeLength` float NOT NULL,
  `GlobalID` tinytext COLLATE utf8_bin NOT NULL,
  `db_id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  PRIMARY KEY (`db_id`)
) DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1;"""

fynesse.assess.execute_query(conn, query_create_data_oa)

[]

In [209]:
fynesse.access.csv_to_db(conn, 'uk_oa_list.csv', 'data_oa', ignore_first_row=True)

Loading data into the table
Data loaded into the table data_oa

Meanings of the columns in data_oa table: 
- FID - Unique feature identifier (internal reference).
- OA21CD - Output Area 2021 Code (smallest geographic unit, also used in downloaded census data).
- LSOA21CD - Lower Layer Super Output Area 2021 Code (larger area made of Output Areas).
- LSOA21NM - Name of the Lower Layer Super Output Area 2021.
- LSOA21NMW - Welsh name of the Lower Layer Super Output Area 2021 (if applicable).
- BNG_E - Easting coordinate (British National Grid system).
- BNG_N - Northing coordinate (British National Grid system).
- LAT - Latitude in decimal degrees (geographic position).
- LON - Longitude in decimal degrees (geographic position).
- Shape__Area - Area of the geographical feature (polygon), typically in square meters or km².
- Shape__Length - Perimeter length of the geographical feature, in meters or kilometers.
- GlobalID - Unique global identifier for the feature (used across systems).

In [428]:
query_create_data_oa_with_boundaries = """
CREATE TABLE IF NOT EXISTS `data_oa_with_boundaries` (
  `OA21CD` varchar(9) COLLATE utf8_bin NOT NULL,
  `LSOA21CD` varchar(9) COLLATE utf8_bin NOT NULL,
  `LSOA21NM` tinytext COLLATE utf8_bin NOT NULL,
  `LSOA21NMW` tinytext COLLATE utf8_bin NOT NULL,
  `BNG_E` int unsigned NOT NULL,
  `BNG_N` int unsigned NOT NULL,
  `LAT` float NOT NULL,
  `LON` float NOT NULL,
  `GlobalID` tinytext COLLATE utf8_bin NOT NULL,
  `Geometry` text COLLATE utf8_bin NOT NULL,
  `db_id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  PRIMARY KEY (`db_id`)
) DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1;"""

fynesse.assess.execute_query(conn, query_create_data_oa_with_boundaries)

[]

In [430]:
fynesse.access.csv_to_db(conn, 'uk_oa_with_boundaries.csv', 'data_oa_with_boundaries', ignore_first_row=True)

Loading data into the table
Data loaded into the table data_oa_with_boundaries

### Indexing data

We have to make sure that we set the correct indices on our data, as this will allow our code to run much faster. The best way to do that is to create an index on any column we will be looking up, and joint indices if our lookup involves multiple columns (like coordinates).

In [191]:
fynesse.assess.create_single_index(conn, 'idx_geography_code', 'census_data_nssec', 'geography_code')
fynesse.assess.create_single_index(conn, 'idx_geography_code', 'census_data_mi', 'geography_code')

[]

In [210]:
fynesse.assess.create_single_index(conn, 'idx_oa', 'data_oa', 'OA21CD')
fynesse.assess.create_single_index(conn, 'idx_lsoa', 'data_oa', 'LSOA21CD')

[]

In [212]:
fynesse.assess.create_multiple_index(conn, 'idx_lat_lon_btree', 'data_oa', ['LAT', 'LON'])

[]

In [431]:
fynesse.assess.create_single_index(conn, 'idx_oa', 'data_oa_with_boundaries', 'OA21CD')
fynesse.assess.create_single_index(conn, 'idx_lsoa', 'data_oa_with_boundaries', 'LSOA21CD')

[]

In [435]:
fynesse.assess.create_multiple_index(conn, 'idx_lat_lon_btree', 'data_oa_with_boundaries', ['LAT', 'LON'])

[]

In [318]:
fynesse.assess.create_single_index(conn, 'idx_postcode', 'osm_data', 'addr_postcode')

[]

In [369]:
fynesse.assess.create_single_index(conn, 'idx_postcode', 'osm_data_subset', 'addr_postcode')

[]

As it's not always possible to predict which columns have to be indexed, we might return to this later in the project. This is an example of the situation when we have to alternate between the parts of our fynesse framework in order to run our project smoothly.

### Summary on access

In [436]:
fynesse.assess.get_summary_on_db(conn)

Table census_data_mi - Approx Row Count 0.1M
('date', 'geography', 'geography_code', 'MI_Total', 'MI_AddrYearAgoSameInUK', 'MI_AddrYearAgoStudentInUK', 'MI_AddrYearAgoInUK', 'MI_AddrYearAgoOutUK', 'db_id')
(2021, 'E00060274', 'E00060274', 271, 253, 0, 18, 0, 1)
(2021, 'E00060275', 'E00060275', 407, 386, 0, 19, 2, 2)
(2021, 'E00060276', 'E00060276', 257, 245, 0, 12, 0, 3)
Indices:
 - PRIMARY (BTREE): Column db_id
 - idx_geography_code (BTREE): Column geography_code

Table census_data_nssec - Approx Row Count 0.1M
('date', 'geography', 'geography_code', 'NSSEC_Total', 'NSSEC_L1_L2_L3', 'NSSEC_L4_L5_L6', 'NSSEC_L7', 'NSSEC_L8_L9', 'NSSEC_L10_L11', 'NSSEC_L12', 'NSSEC_L13', 'NSSEC_L14', 'NSSEC_L15', 'db_id')
(2021, 'E00000001', 'E00000001', 159, 80, 38, 13, 9, 3, 5, 5, 4, 2, 1)
(2021, 'E00000003', 'E00000003', 222, 96, 58, 8, 26, 2, 5, 2, 5, 20, 2)
(2021, 'E00000005', 'E00000005', 103, 37, 28, 8, 21, 0, 3, 1, 1, 4, 3)
Indices:
 - PRIMARY (BTREE): Column db_id
 - idx_geography_code (BTREE): Column geography_code

Table data_oa - Approx Row Count 0.1M
('FID', 'OA21CD', 'LSOA21CD', 'LSOA21NM', 'LSOA21NMW', 'BNG_E', 'BNG_N', 'LAT', 'LON', 'ShapeArea', 'ShapeLength', 'GlobalID', 'db_id')
(1, 'E00000001', 'E01000001', 'City of London 001A', ' ', 532250, 181864, 51.5202, -0.09523, 6949.15, 421.166, '3a44dd3d-5082-4a09-9b9c-3a5fadc811ed\r', 1)
(2, 'E00000003', 'E01000001', 'City of London 001A', ' ', 532171, 181819, 51.5198, -0.09638, 4492.41, 307.715, 'f1216dc8-14d1-4857-9230-cab0641758fb\r', 2)
(3, 'E00000005', 'E01000001', 'City of London 001A', ' ', 532166, 181722, 51.519, -0.09649, 8565.51, 385.205, '44d6f70f-549c-4288-9b6d-de2adbf02582\r', 3)
Indices:
 - PRIMARY (BTREE): Column db_id
 - idx_oa (BTREE): Column OA21CD
 - idx_lsoa (BTREE): Column LSOA21CD
 - idx_lat_lon_btree (BTREE): Column LAT
 - idx_lat_lon_btree (BTREE): Column LON

Table data_oa_with_boundaries - Approx Row Count 0.1M
('OA21CD', 'LSOA21CD', 'LSOA21NM', 'LSOA21NMW', 'BNG_E', 'BNG_N', 'LAT', 'LON', 'GlobalID', 'Geometry', 'db_id')
('E00000001', 'E01000001', 'City of London 001A', '', 532250, 181864, 51.5202, -0.09523, '3a44dd3d-5082-4a09-9b9c-3a5fadc811ed', 'POLYGON ((532303.4919999996 181814.1099999994, 532213.3779999996 181846.1919999998, 532194.8990000002 181874.26300000027, 532162.9718000004 181864.00879999995, 532162.4910000004 181867.76300000027, 532248.3943999996 181895.3501999993, 532282.6299999999 181906.49599999934, 532308.875 181914.79700000025, 532303.4919999996 181814.1099999994))', 1)
('E00000003', 'E01000001', 'City of London 001A', '', 532171, 181819, 51.5198, -0.09638, 'f1216dc8-14d1-4857-9230-cab0641758fb', 'POLYGON ((532213.3779999996 181846.1919999998, 532190.5392000005 181796.06120000035, 532180.131 181763.01999999955, 532155.909 181805.6799999997, 532127.2989999996 181800.62399999984, 532162.9718000004 181864.00879999995, 532194.8990000002 181874.26300000027, 532213.3779999996 181846.1919999998))', 2)
('E00000005', 'E01000001', 'City of London 001A', '', 532166, 181722, 51.519, -0.09649, '44d6f70f-549c-4288-9b6d-de2adbf02582', 'POLYGON ((532180.131 181763.01999999955, 532219.1610000003 181703.9389999993, 532201.2920000004 181668.1799999997, 532124.3210000005 181682.67500000075, 532127.2989999996 181800.62399999984, 532155.909 181805.6799999997, 532180.131 181763.01999999955))', 3)
Indices:
 - PRIMARY (BTREE): Column db_id
 - idx_oa (BTREE): Column OA21CD
 - idx_lsoa (BTREE): Column LSOA21CD
 - idx_lat_lon_btree (BTREE): Column LAT
 - idx_lat_lon_btree (BTREE): Column LON

Table osm_data - Approx Row Count 2.6M
('element_type', 'osmid', 'geometry', 'ways', 'nodes', 'type', 'addr_country', 'addr_postcode', 'addr_street', 'addr_housenumber', 'addr_city', 'addr_housename', 'addr_place', 'name', 'alt_name', 'old_name', 'nohousenumber', 'note', 'disused', 'height', 'amenity', 'tourism', 'brand', 'leisure', 'cuisine', 'emergency', 'historic', 'sport', 'shop', 'religion', 'power', 'military', 'house', 'building', 'building_material', 'building_levels', 'internet_access', 'capacity', 'roof_levels', 'roof_shapefee', 'man_made', 'denomination', 'layer', 'db_id', 'latitude', 'longitude', 'area', 'area_degrees')
('way', 72499117, 'POLYGON ((-6.3134352 49.9146669, -6.3134663 49.9147353, -6.3134061 49.9147467, -6.3134095 49.9147542, -6.3131503 49.9148031, -6.3131469 49.9147957, -6.3130936 49.9148057, -6.3130624 49.9147373, -6.3134352 49.9146669))', '', '[860681919, 860681920, 9169387085, 9169387084, 9169387083, 9169387086, 860681921, 860681922, 860681919]', '', '', 'TR21 0JT', 'Church Street', '', 'Hugh Town', '', '', 'Isles of Scilly Museum', '', '', '', '', '', '', '', 'museum', '', '', '', '', '', '', '', '', '', '', '', 'yes', '', '', '', '', '', '', '', '', '', 1, 49.914736856852464, -6.31326507709315, 237.8068804818078, 2.9801729999919798e-08)
('way', 112445611, 'POLYGON ((-6.3084596 49.9166407, -6.308579 49.916719, -6.3085171 49.9167581, -6.3084892 49.9167398, -6.3085024 49.9167315, -6.3084109 49.9166715, -6.3084596 49.9166407))', '', '[9170680719, 1277992838, 9170680715, 9170680714, 9170680716, 1277992862, 9170680719]', '', '', 'TR21 0JY', '', '', 'Portmellon', '', '', 'The Sailing Centre', '', '', '', '', '', '', '', '', '', 'boathouse', '', '', '', 'sailing', '', '', '', '', '', 'yes', '', '', '', '', '', '', '', '', '', 2, 49.9166731919666, -6.308492663762725, 63.53496052630628, 7.962459999943444e-09)
('way', 112445629, 'POLYGON ((-6.3087257 49.9166066, -6.3085551 49.916498, -6.3086358 49.9164671, -6.3087896 49.9165649, -6.3087257 49.9166066))', '', '[1277992753, 9170680721, 1277992733, 1277992688, 1277992753]', '', '', 'TR21 0JY', '', '', 'Portmellon', '', '', 'The Beach', '', '', '', '', '', '', 'restaurant', '', '', '', '', '', '', '', '', '', '', '', '', 'yes', '', '', '', '', '', '', '', '', '', 3, 49.91654882685142, -6.308677754147191, 106.51787931000683, 1.334922000041799e-08)
Indices:
 - PRIMARY (BTREE): Column db_id
 - idx_postcode (BTREE): Column addr_postcode

Table osm_data_subset - Approx Row Count 0.0M
('element_type', 'osmid', 'geometry', 'ways', 'nodes', 'type', 'addr_country', 'addr_postcode', 'addr_street', 'addr_housenumber', 'addr_city', 'addr_housename', 'addr_place', 'name', 'alt_name', 'old_name', 'nohousenumber', 'note', 'disused', 'height', 'amenity', 'tourism', 'brand', 'leisure', 'cuisine', 'emergency', 'historic', 'sport', 'shop', 'religion', 'power', 'military', 'house', 'building', 'building_material', 'building_levels', 'internet_access', 'capacity', 'roof_levels', 'roof_shapefee', 'man_made', 'denomination', 'layer', 'db_id', 'latitude', 'longitude', 'area', 'area_degrees')
('way', 72499117, 'POLYGON ((-6.3134352 49.9146669, -6.3134663 49.9147353, -6.3134061 49.9147467, -6.3134095 49.9147542, -6.3131503 49.9148031, -6.3131469 49.9147957, -6.3130936 49.9148057, -6.3130624 49.9147373, -6.3134352 49.9146669))', '', '[860681919, 860681920, 9169387085, 9169387084, 9169387083, 9169387086, 860681921, 860681922, 860681919]', '', '', 'TR21 0JT', 'Church Street', '', 'Hugh Town', '', '', 'Isles of Scilly Museum', '', '', '', '', '', '', '', 'museum', '', '', '', '', '', '', '', '', '', '', '', 'yes', '', '', '', '', '', '', '', '', '', 1, 49.914736856852464, -6.31326507709315, 237.8068804818078, 2.9801729999919798e-08)
('way', 112445611, 'POLYGON ((-6.3084596 49.9166407, -6.308579 49.916719, -6.3085171 49.9167581, -6.3084892 49.9167398, -6.3085024 49.9167315, -6.3084109 49.9166715, -6.3084596 49.9166407))', '', '[9170680719, 1277992838, 9170680715, 9170680714, 9170680716, 1277992862, 9170680719]', '', '', 'TR21 0JY', '', '', 'Portmellon', '', '', 'The Sailing Centre', '', '', '', '', '', '', '', '', '', 'boathouse', '', '', '', 'sailing', '', '', '', '', '', 'yes', '', '', '', '', '', '', '', '', '', 2, 49.9166731919666, -6.308492663762725, 63.53496052630628, 7.962459999943444e-09)
('way', 112445629, 'POLYGON ((-6.3087257 49.9166066, -6.3085551 49.916498, -6.3086358 49.9164671, -6.3087896 49.9165649, -6.3087257 49.9166066))', '', '[1277992753, 9170680721, 1277992733, 1277992688, 1277992753]', '', '', 'TR21 0JY', '', '', 'Portmellon', '', '', 'The Beach', '', '', '', '', '', '', 'restaurant', '', '', '', '', '', '', '', '', '', '', '', '', 'yes', '', '', '', '', '', '', '', '', '', 3, 49.91654882685142, -6.308677754147191, 106.51787931000683, 1.334922000041799e-08)
Indices:
 - idx_postcode (BTREE): Column addr_postcode

Table postcode_data - Approx Row Count 2.5M
('postcode', 'status', 'usertype', 'easting', 'northing', 'positional_quality_indicator', 'country', 'latitude', 'longitude', 'postcode_no_space', 'postcode_fixed_width_seven', 'postcode_fixed_width_eight', 'postcode_area', 'postcode_district', 'postcode_sector', 'outcode', 'incode', 'db_id')
('AB1 0AA', 'terminated', 'small', 385386, 801193, 1, 'Scotland', Decimal('57.10147400'), Decimal('-2.24285100'), 'AB10AA', 'AB1 0AA', 'AB1  0AA', 'AB', 'AB1', 'AB1 0', 'AB1', '0AA', 1)
('AB1 0AB', 'terminated', 'small', 385177, 801314, 1, 'Scotland', Decimal('57.10255400'), Decimal('-2.24630800'), 'AB10AB', 'AB1 0AB', 'AB1  0AB', 'AB', 'AB1', 'AB1 0', 'AB1', '0AB', 2)
('AB1 0AD', 'terminated', 'small', 385053, 801092, 1, 'Scotland', Decimal('57.10055600'), Decimal('-2.24834200'), 'AB10AD', 'AB1 0AD', 'AB1  0AD', 'AB', 'AB1', 'AB1 0', 'AB1', '0AD', 3)
Indices:
 - PRIMARY (BTREE): Column db_id
 - idx_postcode_postcode (BTREE): Column postcode

Table pp_data - Approx Row Count 29.3M
('transaction_unique_identifier', 'price', 'date_of_transfer', 'postcode', 'property_type', 'new_build_flag', 'tenure_type', 'primary_addressable_object_name', 'secondary_addressable_object_name', 'street', 'locality', 'town_city', 'district', 'county', 'ppd_category_type', 'record_status', 'db_id')
('{109BBF80-1E51-4910-8E2C-B124E1117A7A}', 34950, datetime.date(1995, 6, 9), 'BA3 3AH', 'F', 'N', 'L', 'COOMBEND HOUSE', '7', 'COOMBEND', 'RADSTOCK', 'RADSTOCK', 'WANSDYKE', 'AVON', 'A', 'A', 1)
('{D5233D67-2975-426B-B98D-B124E39331D9}', 133000, datetime.date(1995, 6, 19), 'SW18 5AG', 'T', 'N', 'F', '142', '', 'ASTONVILLE STREET', 'LONDON', 'LONDON', 'WANDSWORTH', 'GREATER LONDON', 'A', 'A', 2)
('{718BD35C-25E1-431C-8AF7-B124E63ED4E1}', 83000, datetime.date(1995, 8, 21), 'IP11 7PU', 'D', 'N', 'F', '3', '', 'GARFIELD ROAD', 'FELIXSTOWE', 'FELIXSTOWE', 'SUFFOLK COASTAL', 'SUFFOLK', 'A', 'A', 3)
Indices:
 - PRIMARY (BTREE): Column db_id
 - idx_pp_postcode (BTREE): Column postcode
 - idx_pp_date_transfer (BTREE): Column date_of_transfer
 - idx_address (BTREE): Column postcode
 - idx_address (BTREE): Column street
 - idx_address (BTREE): Column primary_addressable_object_name
 - idx_address (BTREE): Column town_city

Table prices_coordinates_data - Approx Row Count 2.1M
('price', 'date_of_transfer', 'postcode', 'property_type', 'new_build_flag', 'tenure_type', 'primary_addressable_object_name', 'secondary_addressable_object_name', 'street', 'locality', 'town_city', 'district', 'county', 'country', 'latitude', 'longitude', 'easting', 'northing', 'db_id')
(370000, datetime.date(2024, 1, 1), 'WR12 7FE', 'T', 'N', 'F', '40', '', 'SARGENT SQUARE', '', 'BROADWAY', 'WYCHAVON', 'WORCESTERSHIRE', 'England', Decimal('52.04243800'), Decimal('-1.85757200'), 409865, 238235, 1)
(50000, datetime.date(2024, 1, 1), 'TS17 6LJ', 'T', 'N', 'F', '3', '', 'OXFORD ROAD', 'THORNABY', 'STOCKTON-ON-TEES', 'STOCKTON-ON-TEES', 'STOCKTON-ON-TEES', 'England', Decimal('54.55240100'), Decimal('-1.30114300'), 445300, 517686, 2)
(485000, datetime.date(2024, 1, 1), 'BR3 6QH', 'F', 'N', 'L', 'KELSEY PARK MANSIONS, 78', 'FLAT 15', 'WICKHAM ROAD', '', 'BECKENHAM', 'BROMLEY', 'GREATER LONDON', 'England', Decimal('51.40061400'), Decimal('-0.01854100'), 537932, 168705, 3)
Indices:
 - PRIMARY (BTREE): Column db_id
 - idx_date (BTREE): Column date_of_transfer
 - idx_postcode (BTREE): Column postcode
 - idx_lat_lon_btree (BTREE): Column latitude
 - idx_lat_lon_btree (BTREE): Column longitude

Table prices_coordinates_data_old - Approx Row Count 5.8M
('price', 'date_of_transfer', 'postcode', 'property_type', 'new_build_flag', 'tenure_type', 'locality', 'town_city', 'district', 'county', 'country', 'latitude', 'longitude', 'db_id')
(370000, datetime.date(2024, 1, 1), 'WR12 7FE', 'T', 'N', 'F', '', 'BROADWAY', 'WYCHAVON', 'WORCESTERSHIRE', 'England', Decimal('52.04243800'), Decimal('-1.85757200'), 1)
(50000, datetime.date(2024, 1, 1), 'TS17 6LJ', 'T', 'N', 'F', 'THORNABY', 'STOCKTON-ON-TEES', 'STOCKTON-ON-TEES', 'STOCKTON-ON-TEES', 'England', Decimal('54.55240100'), Decimal('-1.30114300'), 2)
(485000, datetime.date(2024, 1, 1), 'BR3 6QH', 'F', 'N', 'L', '', 'BECKENHAM', 'BROMLEY', 'GREATER LONDON', 'England', Decimal('51.40061400'), Decimal('-0.01854100'), 3)
Indices:
 - PRIMARY (BTREE): Column db_id
 - idx_lat_lon_btree (BTREE): Column latitude
 - idx_lat_lon_btree (BTREE): Column longitude

TODO: Write a short paragraph summarising what you did in the Access stage.

## Assess

### Exploring the data

In [768]:
conn = fynesse.access.create_connection()

Connection established!

In [ ]:
query = """
ALTER TABLE osm_data
ADD COLUMN latitude DOUBLE,
ADD COLUMN longitude DOUBLE;
"""

fynesse.assess.execute_query(conn, query)

In [360]:
query = """
UPDATE osm_data
SET latitude = ST_Y(ST_GeomFromText(geometry)),
    longitude = ST_X(ST_GeomFromText(geometry))
WHERE element_type IN ('node');
"""

fynesse.assess.execute_query(conn, query)

query = """
UPDATE osm_data
SET latitude = ST_Y(ST_Centroid(ST_GeomFromText(geometry))),
    longitude = ST_X(ST_Centroid(ST_GeomFromText(geometry)))
WHERE element_type IN ('way', 'relation');
"""

fynesse.assess.execute_query(conn, query)

[]

In [389]:
query = """
ALTER TABLE osm_data
ADD COLUMN area DOUBLE,
ADD COLUMN area_degrees DOUBLE;
"""

fynesse.assess.execute_query(conn, query)

[]

In [410]:
query = """
UPDATE osm_data
SET area_degrees = 0
WHERE element_type IN ('node');
"""
start_time = time.time()
fynesse.assess.execute_query(conn, query)
end_time = time.time()
execution_time = end_time - start_time
print(f"Execution time: {execution_time} seconds")

query = """
UPDATE osm_data
SET area_degrees = ST_Area(ST_GeomFromText(geometry))
WHERE element_type IN ('way', 'relation');
"""
start_time = time.time()
fynesse.assess.execute_query(conn, query)
end_time = time.time()
execution_time = end_time - start_time
print(f"Execution time: {execution_time} seconds")

query = """
UPDATE osm_data
SET area = area_degrees * 111320 * 111320 * COS(RADIANS(latitude))
"""
start_time = time.time()
fynesse.assess.execute_query(conn, query)
end_time = time.time()
execution_time = end_time - start_time
print(f"Execution time: {execution_time} seconds")

Execution time: 107.19512391090393 seconds
Execution time: 106.89399194717407 seconds
Execution time: 279.1564769744873 seconds

In [532]:
import pandas as pd
import geopandas as gpd
from shapely import wkt

In [615]:
# oa_data_gdf = gdf_oa_boundaries_2021
oa_data_df = pd.read_csv('uk_oa_with_boundaries.csv')
oa_data_df['geometry'] = oa_data_df['geometry'].apply(wkt.loads)  # converting WKT strings to geometries
oa_data_gdf = gpd.GeoDataFrame(oa_data_df, geometry='geometry')  # converting DataFrame to GeoDataFrame
oa_data_gdf.set_crs("EPSG:27700", inplace=True)  # setting CRS to EPSG:27700 (UK Grid)

/var/folders/tq/f7lcjhp564g26624rbp38l240000gn/T/ipykernel_33730/454259885.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  oa_data_df = pd.read_csv('uk_oa_with_boundaries.csv')

,OA21CD,LSOA21CD,LSOA21NM,LSOA21NMW,BNG_E,BNG_N,LAT,LONG,GlobalID,geometry
0,E00000001,E01000001,City of London 001A,NaN,532250,181864,51.5202,-0.09523,3a44dd3d-5082-4a09-9b9c-3a5fadc811ed,"POLYGON ((532303.492 181814.110, 532213.378 18..."
1,E00000003,E01000001,City of London 001A,NaN,532171,181819,51.5198,-0.09638,f1216dc8-14d1-4857-9230-cab0641758fb,"POLYGON ((532213.378 181846.192, 532190.539 18..."
2,E00000005,E01000001,City of London 001A,NaN,532166,181722,51.5190,-0.09649,44d6f70f-549c-4288-9b6d-de2adbf02582,"POLYGON ((532180.131 181763.020, 532219.161 18..."
3,E00000007,E01000001,City of London 001A,NaN,532088,181473,51.5167,-0.09771,4dd683e1-9a5c-46cf-9e19-8465c8fbb6cb,"POLYGON ((532201.292 181668.180, 532267.728 18..."
4,E00000010,E01000003,City of London 001C,NaN,532092,182114,51.5225,-0.09741,7476781f-8fe4-4c9b-bde1-0eecbd146dff,"POLYGON ((532127.958 182133.192, 532089.264 18..."
...,...,...,...,...,...,...,...,...,...,...
188875,W00010693,W01000062,Gwynedd 001A,Gwynedd 001A,257885,371596,53.2224,-4.13012,5f872a8d-7128-47b4-a6ab-487a8aa93716,"POLYGON ((258000.635 371797.895, 258087.308 37..."
188876,W00010694,W01000645,Carmarthenshire 006C,Sir Gaerfyrddin 006C,240146,220834,51.8631,-4.32295,69c22977-5117-45ee-89d5-0eb35fc713b1,"POLYGON ((240288.250 220817.041, 240329.841 22..."
188877,W00010695,W01000664,Carmarthenshire 016C,Sir Gaerfyrddin 016C,256581,213406,51.8009,-4.08136,b511da17-e4e3-4425-bd9b-bea99d2c5071,"POLYGON ((256825.351 213622.891, 256842.777 21..."
188878,W00010696,W01001923,Carmarthenshire 026G,Sir Gaerfyrddin 026G,252233,198463,51.6655,-4.13803,b36d2ac0-a236-4e97-8dc0-044327808718,"POLYGON ((252565.969 198452.812, 252493.604 19..."
188879,W00010697,W01000667,Carmarthenshire 023C,Sir Gaerfyrddin 023C,249792,200786,51.6857,-4.17430,b9f72baf-42b1-4da6-9be6-45c1a86cd3ef,"POLYGON ((249940.489 200831.457, 249920.765 20..."

In [616]:
osm_data_df = pd.read_csv('osm_uk_valid_data.csv')
osm_data_df['geometry'] = osm_data_df['geometry'].apply(wkt.loads)  # parsing geometry
osm_data_gdf = gpd.GeoDataFrame(osm_data_df, geometry='geometry', crs="EPSG:4326")  # setting CRS to WGS84 (EPSG:4326)

/var/folders/tq/f7lcjhp564g26624rbp38l240000gn/T/ipykernel_33730/3952856294.py:2: DtypeWarning: Columns (3,5,11,12,14,15,16,17,18,19,21,23,25,26,27,30,31,32,34,35,36,37,38,40,41) have mixed types. Specify dtype option on import or set low_memory=False.
  osm_data_df = pd.read_csv('osm_uk_valid_data.csv')

In [617]:
osm_data_gdf = osm_data_gdf.to_crs(oa_data_gdf.crs)

gdf_joined = gpd.sjoin(osm_data_gdf, oa_data_gdf[['OA21CD', 'LAT', 'LONG', 'geometry']], how='left', predicate='within') # spatial join

osm_data_gdf['OA21CD'] = gdf_joined['OA21CD']

In [618]:
osm_data_gdf = osm_data_gdf.dropna(subset=['OA21CD'])

In [619]:
data_oa = pd.read_csv('uk_oa_list.csv')
oa_data_gdf = oa_data_gdf.merge(data_oa[['OA21CD', 'Shape__Area']], on='OA21CD', how='left')
oa_data_gdf.rename(columns={'Shape__Area': 'AREA'}, inplace=True)

In [620]:
print(oa_data_gdf.columns)

Index(['OA21CD', 'LSOA21CD', 'LSOA21NM', 'LSOA21NMW', 'BNG_E', 'BNG_N', 'LAT',
       'LONG', 'GlobalID', 'geometry', 'AREA'],
      dtype='object')

In [621]:
census_data_mi = pd.read_csv('census2021-ts019/census2021-ts019-oa.csv')
print(census_data_mi.columns)
census_data_mi.rename(columns={census_data_mi.columns[3]: 'MI_Total',
                               census_data_mi.columns[4]: 'MI_Settled',
                               census_data_mi.columns[5]: 'MI_WasStudent',
                               census_data_mi.columns[6]: 'MI_WasInUK',
                               census_data_mi.columns[7]: 'MI_WasOutUK'}, inplace=True)
print(census_data_mi.columns)

Index(['date', 'geography', 'geography code',
       'Migrant indicator: Total: All usual residents; measures: Value',
       'Migrant indicator: Address one year ago is the same as the address of enumeration; measures: Value',
       'Migrant indicator: Address one year ago is student term-time or boarding school address in the UK; measures: Value',
       'Migrant indicator: Migrant from within the UK: Address one year ago was in the UK; measures: Value',
       'Migrant indicator: Migrant from outside the UK: Address one year ago was outside the UK; measures: Value'],
      dtype='object')
Index(['date', 'geography', 'geography code', 'MI_Total', 'MI_Settled',
       'MI_WasStudent', 'MI_WasInUK', 'MI_WasOutUK'],
      dtype='object')

In [622]:
oa_data_gdf = oa_data_gdf.merge(
    census_data_mi[['geography', 'MI_Total', 'MI_Settled', 'MI_WasStudent', 'MI_WasInUK', 'MI_WasOutUK']], 
    left_on='OA21CD', 
    right_on='geography',
    how='left'
)
oa_data_gdf.drop(columns=['geography'], inplace=True)

In [623]:
census_data_nssec = pd.read_csv('census2021-ts062/census2021-ts062-oa.csv')
print(census_data_nssec.columns)
census_data_nssec.rename(columns={census_data_nssec.columns[3]: 'NSSEC_Total',
                                  census_data_nssec.columns[4]: 'NSSEC_L1_L2_L3',
                                  census_data_nssec.columns[5]: 'NSSEC_L4_L5_L6',
                                  census_data_nssec.columns[6]: 'NSSEC_L7',
                                  census_data_nssec.columns[7]: 'NSSEC_L8_L9',
                                  census_data_nssec.columns[8]: 'NSSEC_L10_L11',
                                  census_data_nssec.columns[9]: 'NSSEC_L12',
                                  census_data_nssec.columns[10]: 'NSSEC_L13',
                                  census_data_nssec.columns[11]: 'NSSEC_L14',
                                  census_data_nssec.columns[12]: 'NSSEC_L15'}, inplace=True)
print(census_data_nssec.columns)

Index(['date', 'geography', 'geography code',
       'National Statistics Socio-economic Classification (NS-SEC): Total: All usual residents aged 16 years and over',
       'National Statistics Socio-economic Classification (NS-SEC): L1, L2 and L3 Higher managerial, administrative and professional occupations',
       'National Statistics Socio-economic Classification (NS-SEC): L4, L5 and L6 Lower managerial, administrative and professional occupations',
       'National Statistics Socio-economic Classification (NS-SEC): L7 Intermediate occupations',
       'National Statistics Socio-economic Classification (NS-SEC): L8 and L9 Small employers and own account workers',
       'National Statistics Socio-economic Classification (NS-SEC): L10 and L11 Lower supervisory and technical occupations',
       'National Statistics Socio-economic Classification (NS-SEC): L12 Semi-routine occupations',
       'National Statistics Socio-economic Classification (NS-SEC): L13 Routine occupations',
       'National Statistics Socio-economic Classification (NS-SEC): L14.1 and L14.2 Never worked and long-term unemployed',
       'National Statistics Socio-economic Classification (NS-SEC): L15 Full-time students'],
      dtype='object')
Index(['date', 'geography', 'geography code', 'NSSEC_Total', 'NSSEC_L1_L2_L3',
       'NSSEC_L4_L5_L6', 'NSSEC_L7', 'NSSEC_L8_L9', 'NSSEC_L10_L11',
       'NSSEC_L12', 'NSSEC_L13', 'NSSEC_L14', 'NSSEC_L15'],
      dtype='object')

In [624]:
oa_data_gdf = oa_data_gdf.merge(
    census_data_nssec[['geography', 'NSSEC_Total', 'NSSEC_L1_L2_L3', 'NSSEC_L4_L5_L6', 'NSSEC_L7', 'NSSEC_L8_L9', 'NSSEC_L10_L11', 'NSSEC_L12', 'NSSEC_L13', 'NSSEC_L14', 'NSSEC_L15']], 
    left_on='OA21CD', 
    right_on='geography',
    how='left'
)
oa_data_gdf.drop(columns=['geography'], inplace=True)

In [627]:
oa_data_gdf.drop(columns=['LSOA21CD', 'LSOA21NMW', 'BNG_E', 'BNG_N', 'GlobalID'], inplace=True)

In [628]:
print(oa_data_gdf.columns)

Index(['OA21CD', 'LSOA21NM', 'LAT', 'LONG', 'geometry', 'AREA', 'MI_Total',
       'MI_Settled', 'MI_WasStudent', 'MI_WasInUK', 'MI_WasOutUK',
       'NSSEC_Total', 'NSSEC_L1_L2_L3', 'NSSEC_L4_L5_L6', 'NSSEC_L7',
       'NSSEC_L8_L9', 'NSSEC_L10_L11', 'NSSEC_L12', 'NSSEC_L13', 'NSSEC_L14',
       'NSSEC_L15'],
      dtype='object')

In [629]:
oa_data_gdf_backup = oa_data_gdf.copy()
osm_data_gdf_backup = osm_data_gdf.copy()

In [637]:
oa_data_gdf.head(5)

,OA21CD,LSOA21NM,LAT,LONG,geometry,AREA,MI_Total,MI_Settled,MI_WasStudent,MI_WasInUK,...,NSSEC_Total,NSSEC_L1_L2_L3,NSSEC_L4_L5_L6,NSSEC_L7,NSSEC_L8_L9,NSSEC_L10_L11,NSSEC_L12,NSSEC_L13,NSSEC_L14,NSSEC_L15
0,E00000001,City of London 001A,51.5202,-0.09523,"POLYGON ((532303.492 181814.110, 532213.378 18...",6949.151482,175,154,0,9,...,159,80,38,13,9,3,5,5,4,2
1,E00000003,City of London 001A,51.5198,-0.09638,"POLYGON ((532213.378 181846.192, 532190.539 18...",4492.411072,252,228,6,13,...,222,96,58,8,26,2,5,2,5,20
2,E00000005,City of London 001A,51.5190,-0.09649,"POLYGON ((532180.131 181763.020, 532219.161 18...",8565.514214,113,99,0,12,...,103,37,28,8,21,0,3,1,1,4
3,E00000007,City of London 001A,51.5167,-0.09771,"POLYGON ((532201.292 181668.180, 532267.728 18...",75994.829704,146,93,5,41,...,140,62,39,5,11,3,3,1,6,10
4,E00000010,City of London 001C,51.5225,-0.09741,"POLYGON ((532127.958 182133.192, 532089.264 18...",2102.876602,178,153,0,19,...,170,34,45,17,27,7,10,14,11,5

In [638]:
osm_data_gdf.head(5)

,element_type,osmid,geometry,ways,nodes,type,addr:country,addr:postcode,addr:street,addr:housenumber,...,building:material,building:levels,internet_access,capacity,roof:levels,roof:shapefee,man_made,denomination,layer,OA21CD
0,way,72499117,"POLYGON ((90458.761 10530.595, 90456.968 10538...",NaN,"[860681919, 860681920, 9169387085, 9169387084,...",NaN,NaN,TR21 0JT,Church Street,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E00096405
1,way,112445611,"POLYGON ((90828.461 10729.354, 90820.395 10738...",NaN,"[9170680719, 1277992838, 9170680715, 917068071...",NaN,NaN,TR21 0JY,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E00096404
2,way,112445629,"POLYGON ((90809.148 10726.665, 90820.694 10713...",NaN,"[1277992753, 9170680721, 1277992733, 127799268...",NaN,NaN,TR21 0JY,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E00096404
3,way,112445634,"POLYGON ((91175.247 10187.907, 91180.142 10189...",NaN,"[1277992657, 1277992866, 1277992847, 127799260...",NaN,NaN,TR21 0NH,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E00096406
4,way,232574846,"POLYGON ((90633.584 10714.957, 90623.649 10715...",NaN,"[2409193065, 380751771, 9169387749, 9169387747...",NaN,NaN,TR21 0PT,Strand,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E00096404

### Adding OSM information

Let's augment our data with information obtained from Open Street Map to indentify and incorporate useful features for our prediction tasks.

In [654]:
oa_data_gdf.head(5)

,OA21CD,LSOA21NM,LAT,LONG,geometry,AREA,MI_Total,MI_Settled,MI_WasStudent,MI_WasInUK,...,MI_WasOutUKProp,NSSEC_L1_L2_L3Prop,NSSEC_L4_L5_L6Prop,NSSEC_L7Prop,NSSEC_L8_L9Prop,NSSEC_L10_L11Prop,NSSEC_L12Prop,NSSEC_L13Prop,NSSEC_L14Prop,NSSEC_L15Prop
0,E00000001,City of London 001A,51.5202,-0.09523,"POLYGON ((532303.492 181814.110, 532213.378 18...",6949.151482,175,154,0,9,...,0.068571,0.503145,0.238994,0.081761,0.056604,0.018868,0.031447,0.031447,0.025157,0.012579
1,E00000003,City of London 001A,51.5198,-0.09638,"POLYGON ((532213.378 181846.192, 532190.539 18...",4492.411072,252,228,6,13,...,0.019841,0.432432,0.261261,0.036036,0.117117,0.009009,0.022523,0.009009,0.022523,0.090090
2,E00000005,City of London 001A,51.5190,-0.09649,"POLYGON ((532180.131 181763.020, 532219.161 18...",8565.514214,113,99,0,12,...,0.017699,0.359223,0.271845,0.077670,0.203883,0.000000,0.029126,0.009709,0.009709,0.038835
3,E00000007,City of London 001A,51.5167,-0.09771,"POLYGON ((532201.292 181668.180, 532267.728 18...",75994.829704,146,93,5,41,...,0.047945,0.442857,0.278571,0.035714,0.078571,0.021429,0.021429,0.007143,0.042857,0.071429
4,E00000010,City of London 001C,51.5225,-0.09741,"POLYGON ((532127.958 182133.192, 532089.264 18...",2102.876602,178,153,0,19,...,0.033708,0.200000,0.264706,0.100000,0.158824,0.041176,0.058824,0.082353,0.064706,0.029412

In [666]:
osm_data_gdf.head(5)

,element_type,osmid,geometry,ways,nodes,type,addr:country,addr:postcode,addr:street,addr:housenumber,...,building:material,building:levels,internet_access,capacity,roof:levels,roof:shapefee,man_made,denomination,layer,OA21CD
0,way,72499117,"POLYGON ((90458.761 10530.595, 90456.968 10538...",NaN,"[860681919, 860681920, 9169387085, 9169387084,...",NaN,NaN,TR21 0JT,Church Street,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E00096405
1,way,112445611,"POLYGON ((90828.461 10729.354, 90820.395 10738...",NaN,"[9170680719, 1277992838, 9170680715, 917068071...",NaN,NaN,TR21 0JY,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E00096404
2,way,112445629,"POLYGON ((90809.148 10726.665, 90820.694 10713...",NaN,"[1277992753, 9170680721, 1277992733, 127799268...",NaN,NaN,TR21 0JY,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E00096404
3,way,112445634,"POLYGON ((91175.247 10187.907, 91180.142 10189...",NaN,"[1277992657, 1277992866, 1277992847, 127799260...",NaN,NaN,TR21 0NH,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E00096406
4,way,232574846,"POLYGON ((90633.584 10714.957, 90623.649 10715...",NaN,"[2409193065, 380751771, 9169387749, 9169387747...",NaN,NaN,TR21 0PT,Strand,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E00096404

In [687]:
oa_data_gdf.columns

Index(['OA21CD', 'LSOA21NM', 'LAT', 'LONG', 'geometry', 'AREA', 'MI_Total',
       'MI_Settled', 'MI_WasStudent', 'MI_WasInUK', 'MI_WasOutUK',
       'NSSEC_Total', 'NSSEC_L1_L2_L3', 'NSSEC_L4_L5_L6', 'NSSEC_L7',
       'NSSEC_L8_L9', 'NSSEC_L10_L11', 'NSSEC_L12', 'NSSEC_L13', 'NSSEC_L14',
       'NSSEC_L15', 'MI_SettledProp', 'MI_WasStudentProp', 'MI_WasInUKProp',
       'MI_WasOutUKProp', 'NSSEC_L1_L2_L3Prop', 'NSSEC_L4_L5_L6Prop',
       'NSSEC_L7Prop', 'NSSEC_L8_L9Prop', 'NSSEC_L10_L11Prop', 'NSSEC_L12Prop',
       'NSSEC_L13Prop', 'NSSEC_L14Prop', 'NSSEC_L15Prop', 'amenity', 'tourism',
       'leisure', 'cuisine', 'emergency', 'historic', 'sport', 'shop',
       'religion', 'power', 'military', 'house', 'building'],
      dtype='object')

In [664]:
osm_data_gdf.columns

Index(['element_type', 'osmid', 'geometry', 'ways', 'nodes', 'type',
       'addr:country', 'addr:postcode', 'addr:street', 'addr:housenumber',
       'addr:city', 'addr:housename', 'addr:place', 'name', 'alt_name',
       'old_name', 'nohousenumber', 'note', 'disused', 'height', 'amenity',
       'tourism', 'brand', 'leisure', 'cuisine', 'emergency', 'historic',
       'sport', 'shop', 'religion', 'power', 'military', 'house', 'building',
       'building:material', 'building:levels', 'internet_access', 'capacity',
       'roof:levels', 'roof:shapefee', 'man_made', 'denomination', 'layer',
       'OA21CD'],
      dtype='object')

In [688]:
features_of_interest = ['amenity', 'tourism', 'leisure', 'cuisine', 'emergency', 'historic', 'sport', 'shop', 'religion', 'power', 'military', 'house', 'building']

In [689]:
# not optimal
# for feature in features_of_interest:
#     oa_data_gdf[feature] = oa_data_gdf.apply(lambda row: len(osm_data_gdf[(osm_data_gdf['OA21CD'] == row['OA21CD']) & (osm_data_gdf[feature] != '') & (osm_data_gdf[feature].notna())]), axis=1)

In [690]:
grouped_counts = {feature: osm_data_gdf[(osm_data_gdf[feature].notna()) & (osm_data_gdf[feature] != '')].groupby('OA21CD').size() for feature in features_of_interest}

for feature in features_of_interest:
    oa_data_gdf[feature] = oa_data_gdf['OA21CD'].map(grouped_counts[feature]).fillna(0).astype(int)

In [691]:
oa_data_gdf[features_of_interest]

,amenity,tourism,leisure,cuisine,emergency,historic,sport,shop,religion,power,military,house,building
0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,1,0,0,0,0,0,0,0,0,1
3,3,0,0,0,0,2,0,0,0,0,0,0,9
4,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188875,0,0,0,0,0,0,0,1,0,0,0,0,3
188876,1,0,0,0,0,0,0,0,0,0,0,0,7
188877,0,0,0,0,0,0,0,0,0,0,0,0,0
188878,0,0,0,0,0,0,0,0,0,0,0,0,0
188879,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
# not optimal

"""
from shapely.geometry import Point

oa_data_gdf = oa_data_gdf.rename(columns={'geometry': 'geometry_polygon'})
oa_data_gdf['geometry_point'] = [Point(xy) for xy in zip(oa_data_gdf['LONG'], oa_data_gdf['LAT'])]
oa_data_gdf['geometry'] = oa_data_gdf['geometry_point']

geo_oa_data_gdf = gpd.GeoDataFrame(oa_data_gdf, geometry='geometry')

threshold_distance = 1000  # in meters
geo_oa_data_gdf = geo_oa_data_gdf.set_crs("EPSG:4326")  # assuming WGS84 Latitude/Longitude
geo_oa_data_gdf = geo_oa_data_gdf.to_crs("EPSG:3395")   # converting to meters for distance calculations

geo_oa_data_gdf['amenity_nearby'] = 0

for idx, row in geo_oa_data_gdf.iterrows():
    buffer = row['geometry'].buffer(threshold_distance)
    nearby = geo_oa_data_gdf[geo_oa_data_gdf['geometry'].within(buffer)]
    geo_oa_data_gdf.at[idx, 'amenity_nearby'] = nearby['amenity'].sum()

oa_data_gdf = geo_oa_data_gdf.drop(columns=['geometry'])
"""

In [720]:
from scipy.spatial import cKDTree

In [721]:
for feature in features_of_interest:
    coordinates = oa_data_gdf[['LONG', 'LAT']].to_numpy()
    tree = cKDTree(coordinates) # building spatial tree
    threshold_distance = 0.005  # 500 meters at the equator
    amenity_nearby = []

    for i in range(len(coordinates)):
        indices = tree.query_ball_point(coordinates[i], r=threshold_distance)
        nearby_sum = oa_data_gdf.iloc[indices][feature].sum()
        amenity_nearby.append(nearby_sum)

    oa_data_gdf[feature + '_nearby'] = amenity_nearby

In [722]:
features_of_interest_nearby = [feature + '_nearby' for feature in features_of_interest]

In [726]:
oa_data_gdf[features_of_interest_nearby]

,amenity_nearby,tourism_nearby,leisure_nearby,cuisine_nearby,emergency_nearby,historic_nearby,sport_nearby,shop_nearby,religion_nearby,power_nearby,military_nearby,house_nearby,building_nearby
0,31,1,0,8,0,2,0,6,1,0,0,0,110
1,40,2,0,11,0,2,0,6,1,0,0,0,120
2,35,2,0,10,0,2,0,6,1,0,0,0,97
3,43,5,0,9,0,3,0,7,3,0,0,0,88
4,39,2,2,15,0,0,2,9,1,1,0,0,119
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188875,1,1,0,0,0,0,0,2,0,0,0,0,19
188876,1,0,0,0,0,0,0,0,0,0,0,0,7
188877,0,0,0,0,0,0,0,1,0,0,0,0,1
188878,0,0,0,0,0,0,0,0,0,0,0,0,0
188879,0,0,0,0,0,0,0,0,0,0,0,0,1

### Analysing NSSEC_L15

Now let's look at the percentage of students (NSSEC code L15) in the individual output areas, and explore how it's related to various types of open street map features in those locations.

The relationships we've found can be used to suggest the features to be used in a system that predicts percentage of students in a given area.

In [760]:
for row_name in ['MI_WasStudent', 'MI_WasInUK', 'MI_WasOutUK']:
    oa_data_gdf[row_name + 'Prop'] = oa_data_gdf.apply(lambda row: row[row_name] / row['MI_Total'] if row['MI_Total'] != 0 else None, axis=1)

oa_data_gdf['NSSEC_L15' + 'Prop'] = oa_data_gdf.apply(lambda row: row['NSSEC_L15'] / row['NSSEC_Total'] if row['NSSEC_Total'] != 0 else None, axis=1)

In [759]:
column_of_interest = 'NSSEC_L15Prop'

correlations = {col: oa_data_gdf[col].corr(oa_data_gdf[column_of_interest]) for col in (features_of_interest)}
for col, corr in correlations.items():
    print(f"Correlation between {col} and {column_of_interest}: {corr}")

print("------------")

correlations = {col: oa_data_gdf[col].corr(oa_data_gdf[column_of_interest]) for col in (features_of_interest_nearby)}
for col, corr in correlations.items():
    print(f"Correlation between {col} and {column_of_interest}: {corr}")

Correlation between amenity and NSSEC_L15Prop: 0.08380669525852746
Correlation between tourism and NSSEC_L15Prop: 0.022150487677717576
Correlation between leisure and NSSEC_L15Prop: 0.03192260621519321
Correlation between cuisine and NSSEC_L15Prop: 0.07023655531090027
Correlation between emergency and NSSEC_L15Prop: 0.005895109113357016
Correlation between historic and NSSEC_L15Prop: 0.0036239132358881253
Correlation between sport and NSSEC_L15Prop: 0.02081507346780532
Correlation between shop and NSSEC_L15Prop: 0.04825715298941313
Correlation between religion and NSSEC_L15Prop: 0.04417180840617277
Correlation between power and NSSEC_L15Prop: 0.005290456563462207
Correlation between military and NSSEC_L15Prop: 0.01035106311074614
Correlation between house and NSSEC_L15Prop: 0.02513401599143751
Correlation between building and NSSEC_L15Prop: 0.028852817266695523
------------
Correlation between amenity_nearby and NSSEC_L15Prop: 0.22323116242862842
Correlation between tourism_nearby and NSSEC_L15Prop: 0.10845400968411714
Correlation between leisure_nearby and NSSEC_L15Prop: 0.1008742694181737
Correlation between cuisine_nearby and NSSEC_L15Prop: 0.17557014738101165
Correlation between emergency_nearby and NSSEC_L15Prop: 0.02911714128581697
Correlation between historic_nearby and NSSEC_L15Prop: 0.015840597224865898
Correlation between sport_nearby and NSSEC_L15Prop: 0.07200695078328187
Correlation between shop_nearby and NSSEC_L15Prop: 0.129858951276607
Correlation between religion_nearby and NSSEC_L15Prop: 0.2023510754202103
Correlation between power_nearby and NSSEC_L15Prop: 0.021086338310688246
Correlation between military_nearby and NSSEC_L15Prop: 0.03980029483035788
Correlation between house_nearby and NSSEC_L15Prop: 0.06778150908840844
Correlation between building_nearby and NSSEC_L15Prop: 0.106078342478655

### Analysing census on migrants

Now let's do the same for an additional census variables (information about numbers of migrants in the area).

In [758]:
# column_of_interest = 'MI_WasStudentProp'
# column_of_interest = 'MI_WasInUKProp'
column_of_interest = 'MI_WasOutUKProp'

correlations = {col: oa_data_gdf[col].corr(oa_data_gdf[column_of_interest]) for col in (features_of_interest)}
for col, corr in correlations.items():
    print(f"Correlation between {col} and {column_of_interest}: {corr}")

print("------------")

correlations = {col: oa_data_gdf[col].corr(oa_data_gdf[column_of_interest]) for col in (features_of_interest_nearby)}
for col, corr in correlations.items():
    print(f"Correlation between {col} and {column_of_interest}: {corr}")

Correlation between amenity and MI_WasOutUKProp: 0.11580510186158609
Correlation between tourism and MI_WasOutUKProp: 0.06099764567174527
Correlation between leisure and MI_WasOutUKProp: 0.04329998842422134
Correlation between cuisine and MI_WasOutUKProp: 0.09407228221505477
Correlation between emergency and MI_WasOutUKProp: 0.016908483100562005
Correlation between historic and MI_WasOutUKProp: 0.01573324542072642
Correlation between sport and MI_WasOutUKProp: 0.029043996071328557
Correlation between shop and MI_WasOutUKProp: 0.06611739458168023
Correlation between religion and MI_WasOutUKProp: 0.04926299080542002
Correlation between power and MI_WasOutUKProp: 0.001400693665786264
Correlation between military and MI_WasOutUKProp: 0.013548669827564901
Correlation between house and MI_WasOutUKProp: -0.004847090022567066
Correlation between building and MI_WasOutUKProp: -0.004980842494878626
------------
Correlation between amenity_nearby and MI_WasOutUKProp: 0.2568587999324803
Correlation between tourism_nearby and MI_WasOutUKProp: 0.1808802578356361
Correlation between leisure_nearby and MI_WasOutUKProp: 0.12238508871176378
Correlation between cuisine_nearby and MI_WasOutUKProp: 0.2087692163010768
Correlation between emergency_nearby and MI_WasOutUKProp: 0.04279585116612017
Correlation between historic_nearby and MI_WasOutUKProp: 0.03066735522762915
Correlation between sport_nearby and MI_WasOutUKProp: 0.08578482484929796
Correlation between shop_nearby and MI_WasOutUKProp: 0.14248832099414047
Correlation between religion_nearby and MI_WasOutUKProp: 0.20152662036665336
Correlation between power_nearby and MI_WasOutUKProp: 0.007036001929991685
Correlation between military_nearby and MI_WasOutUKProp: 0.03807903361298961
Correlation between house_nearby and MI_WasOutUKProp: 0.02211755081224141
Correlation between building_nearby and MI_WasOutUKProp: 0.05549791251958202

### Summary on Assess

In [762]:
oa_data_gdf.head(5)

,OA21CD,LSOA21NM,LAT,LONG,geometry_polygon,MI_Total,MI_Settled,MI_WasStudent,MI_WasInUK,MI_WasOutUK,...,cuisine_nearby,emergency_nearby,historic_nearby,sport_nearby,shop_nearby,religion_nearby,power_nearby,military_nearby,house_nearby,building_nearby
0,E00000001,City of London 001A,51.5202,-0.09523,"POLYGON ((532303.492 181814.110, 532213.378 18...",175,154,0,9,12,...,8,0,2,0,6,1,0,0,0,110
1,E00000003,City of London 001A,51.5198,-0.09638,"POLYGON ((532213.378 181846.192, 532190.539 18...",252,228,6,13,5,...,11,0,2,0,6,1,0,0,0,120
2,E00000005,City of London 001A,51.5190,-0.09649,"POLYGON ((532180.131 181763.020, 532219.161 18...",113,99,0,12,2,...,10,0,2,0,6,1,0,0,0,97
3,E00000007,City of London 001A,51.5167,-0.09771,"POLYGON ((532201.292 181668.180, 532267.728 18...",146,93,5,41,7,...,9,0,3,0,7,3,0,0,0,88
4,E00000010,City of London 001C,51.5225,-0.09741,"POLYGON ((532127.958 182133.192, 532089.264 18...",178,153,0,19,6,...,15,0,0,2,9,1,1,0,0,119

In [763]:
oa_data_gdf.columns

Index(['OA21CD', 'LSOA21NM', 'LAT', 'LONG', 'geometry_polygon', 'MI_Total',
       'MI_Settled', 'MI_WasStudent', 'MI_WasInUK', 'MI_WasOutUK',
       'NSSEC_Total', 'NSSEC_L1_L2_L3', 'NSSEC_L4_L5_L6', 'NSSEC_L7',
       'NSSEC_L8_L9', 'NSSEC_L10_L11', 'NSSEC_L12', 'NSSEC_L13', 'NSSEC_L14',
       'NSSEC_L15', 'MI_WasStudentProp', 'MI_WasInUKProp', 'MI_WasOutUKProp',
       'NSSEC_L15Prop', 'amenity', 'tourism', 'leisure', 'cuisine',
       'emergency', 'historic', 'sport', 'shop', 'religion', 'power',
       'military', 'house', 'building', 'geometry_point', 'geometry',
       'amenity_nearby', 'tourism_nearby', 'leisure_nearby', 'cuisine_nearby',
       'emergency_nearby', 'historic_nearby', 'sport_nearby', 'shop_nearby',
       'religion_nearby', 'power_nearby', 'military_nearby', 'house_nearby',
       'building_nearby'],
      dtype='object')

In [765]:
osm_data_gdf.head(5)

,element_type,osmid,geometry,ways,nodes,type,addr:country,addr:postcode,addr:street,addr:housenumber,...,building:material,building:levels,internet_access,capacity,roof:levels,roof:shapefee,man_made,denomination,layer,OA21CD
0,way,72499117,"POLYGON ((90458.761 10530.595, 90456.968 10538...",NaN,"[860681919, 860681920, 9169387085, 9169387084,...",NaN,NaN,TR21 0JT,Church Street,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E00096405
1,way,112445611,"POLYGON ((90828.461 10729.354, 90820.395 10738...",NaN,"[9170680719, 1277992838, 9170680715, 917068071...",NaN,NaN,TR21 0JY,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E00096404
2,way,112445629,"POLYGON ((90809.148 10726.665, 90820.694 10713...",NaN,"[1277992753, 9170680721, 1277992733, 127799268...",NaN,NaN,TR21 0JY,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E00096404
3,way,112445634,"POLYGON ((91175.247 10187.907, 91180.142 10189...",NaN,"[1277992657, 1277992866, 1277992847, 127799260...",NaN,NaN,TR21 0NH,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E00096406
4,way,232574846,"POLYGON ((90633.584 10714.957, 90623.649 10715...",NaN,"[2409193065, 380751771, 9169387749, 9169387747...",NaN,NaN,TR21 0PT,Strand,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,E00096404

In [766]:
osm_data_gdf.columns

Index(['element_type', 'osmid', 'geometry', 'ways', 'nodes', 'type',
       'addr:country', 'addr:postcode', 'addr:street', 'addr:housenumber',
       'addr:city', 'addr:housename', 'addr:place', 'name', 'alt_name',
       'old_name', 'nohousenumber', 'note', 'disused', 'height', 'amenity',
       'tourism', 'brand', 'leisure', 'cuisine', 'emergency', 'historic',
       'sport', 'shop', 'religion', 'power', 'military', 'house', 'building',
       'building:material', 'building:levels', 'internet_access', 'capacity',
       'roof:levels', 'roof:shapefee', 'man_made', 'denomination', 'layer',
       'OA21CD'],
      dtype='object')

TODO: Write a short paragraph summarising what you did in the Assess stage.

## Address

Now let's make a prediction system which will use Open Street Maps to predict Socio-Economic Status - in particular, the percent of full time students, from OSM features.

Our function should take as input a coordinate pair (we can assume it will be in England), and return an estimate for the share of students in that area.

In [802]:
from shapely.geometry import Point

In [803]:
def OA21CD_by_coordinates(latitude: float, longitude: float) -> str:
    
    point = Point(longitude, latitude)

    point_gdf = gpd.GeoDataFrame(geometry=[point], crs="EPSG:4326") # converting point to the same CRS as oa_data_gdf (EPSG:3395)
    point_gdf = point_gdf.to_crs(oa_data_gdf.crs)  # converting to the CRS of oa_data_gdf

    matching_row = oa_data_gdf[oa_data_gdf.geometry.contains(point_gdf.geometry.iloc[0])]

    if not matching_row.empty:
        return matching_row['OA21CD'].values[0]
    else:
        return None

In [825]:
def get_true_NSSEC_L15Prop(latitude: float, longitude: float) -> float:
    """
    Args:
    latitude (float): The latitude coordinate.
    longitude (float): The longitude coordinate.

    Returns:
    float: True share of students in that area (value between 0 and 1).
    """

    oa21cd = OA21CD_by_coordinates(latitude, longitude)
    if oa21cd is None:
        return None
    else:
        true_value = oa_data_gdf[oa_data_gdf['OA21CD'] == oa21cd]['NSSEC_L15Prop'].to_numpy()
        return true_value[0]

In [823]:
def estimate_NSSEC_L15Prop(latitude: float, longitude: float) -> float:
    """
    Args:
    latitude (float): The latitude coordinate.
    longitude (float): The longitude coordinate.

    Returns:
    float: Estimated share of students in that area (value between 0 and 1).
    """
    
    selected_features = ['amenity_nearby', 'tourism_nearby', 'leisure_nearby', 
                         'cuisine_nearby', 'sport_nearby', 'shop_nearby', 
                         'religion_nearby', 'house_nearby', 'building_nearby']
    
    """
    selected_features = ['amenity_nearby', 'tourism_nearby', 'leisure_nearby', 
                         'cuisine_nearby', 'sport_nearby', 'shop_nearby', 
                         'religion_nearby', 'house_nearby', 'building_nearby',
                         'emergency_nearby', 'historic_nearby', 'power_nearby', 'military_nearby']
    """

    x = oa_data_gdf[selected_features].to_numpy()
    y = oa_data_gdf['NSSEC_L15Prop'].to_numpy()
    model = sm.OLS(y, x)
    results = model.fit()

    oa21cd = OA21CD_by_coordinates(latitude, longitude)
    if oa21cd is None:
        return None
    else:
        x_pred = oa_data_gdf[oa_data_gdf['OA21CD'] == oa21cd][selected_features].to_numpy()
        y_pred = results.get_prediction(x_pred).summary_frame(alpha=0.00)['mean']
        return y_pred[0]

In [843]:
latitude = 51.5
longitude = 0

oa21cd = OA21CD_by_coordinates(latitude, longitude)
name = oa_data_gdf[oa_data_gdf['OA21CD'] == oa21cd]["LSOA21NM"]
print(oa21cd)
print(name)
print(get_true_NSSEC_L15Prop(latitude, longitude))
print(estimate_NSSEC_L15Prop(latitude, longitude))

E00182188
170201    Greenwich 040A
Name: LSOA21NM, dtype: object
0.08229426433915212
0.04994641622239348

Now let's do the same for the additional census variable we selected in the previous step.

In [844]:
def get_true_MI_WasOutUKProp(latitude: float, longitude: float) -> float:
    """
    Args:
    latitude (float): The latitude coordinate.
    longitude (float): The longitude coordinate.

    Returns:
    float: True share of migrants that used to live outside of the UK one year ago in that area (value between 0 and 1).
    """

    oa21cd = OA21CD_by_coordinates(latitude, longitude)
    if oa21cd is None:
        return None
    else:
        true_value = oa_data_gdf[oa_data_gdf['OA21CD'] == oa21cd]['MI_WasOutUKProp'].to_numpy()
        return true_value[0]

In [852]:
def estimate_MI_WasOutUKProp(latitude: float, longitude: float) -> float:
    """
    Args:
    latitude (float): The latitude coordinate.
    longitude (float): The longitude coordinate.

    Returns:
    float: Estimated share of migrants that used to live outside of the UK one year ago in that area (value between 0 and 1).
    """
    
    selected_features = ['amenity_nearby', 'tourism_nearby', 'leisure_nearby', 
                         'cuisine_nearby', 'sport_nearby', 'shop_nearby', 
                         'religion_nearby', 'house_nearby', 'building_nearby']
    
    """
    selected_features = ['amenity_nearby', 'tourism_nearby', 'leisure_nearby', 
                         'cuisine_nearby', 'sport_nearby', 'shop_nearby', 
                         'religion_nearby', 'house_nearby', 'building_nearby',
                         'emergency_nearby', 'historic_nearby', 'power_nearby', 'military_nearby']
    """

    x = oa_data_gdf[selected_features].to_numpy()
    y = oa_data_gdf['MI_WasOutUKProp'].to_numpy()
    model = sm.OLS(y, x)
    results = model.fit()

    oa21cd = OA21CD_by_coordinates(latitude, longitude)
    if oa21cd is None:
        return None
    else:
        x_pred = oa_data_gdf[oa_data_gdf['OA21CD'] == oa21cd][selected_features].to_numpy()
        y_pred = results.get_prediction(x_pred).summary_frame(alpha=0.00)['mean']
        return y_pred[0]

In [854]:
latitude = 51.5
longitude = 0

oa21cd = OA21CD_by_coordinates(latitude, longitude)
name = oa_data_gdf[oa_data_gdf['OA21CD'] == oa21cd]["LSOA21NM"]
print(oa21cd)
print(name)
print(get_true_MI_WasOutUKProp(latitude, longitude))
print(estimate_MI_WasOutUKProp(latitude, longitude))

E00182188
170201    Greenwich 040A
Name: LSOA21NM, dtype: object
0.07625272331154684
0.011770694997121571

TODO: Write a short paragraph summarising what you did in the Address stage.

## Discussion

#### Story and structure

Marks awarded for inline explanation and structure, no need for answers here.

TODO: Go over your notebook to make sure you explain what you did and why.

#### Design decisions

TODO: your answer here

#### Comparison

TODO: your answer here

#### Reusability

TODO: your answer here

# Task 2: miniproject (13 marks)

We expect your miniproject to be more advanced than the example project, and that's why we allocated more marks to it. The first 7 marks will be allocated similarly to Task 1.

6 remaining points are *bonus* - they will be allocated for going far beyond what you did in Task 1, either in data access, assess, address or story.

#### Choosing your topic

You are given a lot of flexibility in choosing a miniproject topic.

Some hints:
- Your project should be based on the Census, Price Paid, OSM and Election datasets.
- It's a good idea to pick something that you are interested in.
- Bear in mind there are no marks dedicated to your overall prediction accuracy, so there is no advantage to picking 'easy' topics. It is perfectly ok to not reach significant predictive power, as long as you followed the proper process.

Some guidelines:
- Do not make a miniproject that furthers discriminatory rhetoric. In general, avoid topics that could be insensitive. If in doubt, message Radzim Sendyka (and *cc* Christian Cabrera) to discuss if this applies to your idea.
- Please avoid any projects that would require approval from the ethics comittee.
- Pick the scope of your projects that will allow you to show your skills. Some projects might not be challenging enough while others might be hard to make any progress in. Don't be scared to report negative results.

Please email Radzim Sendyka (and *cc* Christian Cabrera) with your project idea when you begin working on it, so we can let you know about any potential concerns (eg. potentially insensive, too off-topic, too simple, too complex) as soon as we can. You can change the topic up to the submission deadline, but let us know again in cases of major changes.

Most of the advice from Task 1 still applies, particularly around using an online relational database, structuring your notebook, fynesse, access-assess-address, data readiness levels, hints.

Sources you may want to include in your data include:

  - UK Census Data
    - UK Census 2021 data [here](https://www.ons.gov.uk/search?topics=9731,6646,3845,9497,4262,4128,7755,4994,6885,9724,7367&filter=datasets) or [here](https://www.nomisweb.co.uk/sources/census_2021_bulk).
    - Historical Census data [here](https://www.ons.gov.uk/census/historiccensusdata).
    - Geographic coordinates of Census Output Areas [here](https://www.data.gov.uk/dataset/4d4e021d-fe98-4a0e-88e2-3ead84538537/output-areas-december-2021-boundaries-ew-bgc-v2).
  - Spatial data
    - You should already have a connection to OpenStreetMaps.
    - You might want to also download the entire map for England (or more) [here](https://download.openstreetmap.fr/extracts/) or [here](https://wiki.openstreetmap.org/wiki/Planet.osm).
  - Election data
    - Recent Election Results data [here](https://commonslibrary.parliament.uk/research-briefings/cbp-10009/)
    - Historical Election Results data [here](https://commonslibrary.parliament.uk/research-briefings/cbp-8647/#fullreport).
    - Lookup reference between Output Areas and Parliamentary Constituencies [here](https://geoportal.statistics.gov.uk/datasets/5968b5b2c0f14dd29ba277beaae6dec3_0/explore).
  - Price Paid Data
    - You should have this data already in your database.
  - OSM
    - You should know how to access this data from previous practicals.

Example ideas:

- Are areas correlated in terms of census results? If so, find the areas that are leading change, and the ones that are following.
- Which historical census variables used to predict election results in the past, but don't seem related anymore?
- Census results are only updated once a decade, but new roads and houses are built every year. Can census results, for example those relating to travel, be predicted from basic map information, such as street networks?
- Building new houses is our best way of tackling the housing crisis. Use the information on new builds in the house prices dataset to explore what factors drive new developments, and make predictions for where the next houses will be built.
- House styles differ a lot between regions and inhabitants. Can you make any predictions about the house or area simply from looking at it's geometric shape and orientation?

Note that the ideas are just a starting point question. You should include more in-depth investigations into the data, validate your findings where applicable, and prepare visualisations.

## Title

How often do unexpected cultural or political shifts lead to unpredictable electoral outcomes?

## Description

The aim of the project is to investigate how often unexpected factors like region-specific cultural issues influence voting results.

TODO: expand this

## Project plan

- Extract relevant demographic features from census data.
- Add special indices to enrich the dataset.
- Cluster regions based on similarity of demographic profiles.
- Compare clusters to voting patterns.
- Identify demographic profiles strongly associated with specific voting patterns.
- Identify areas with anomalies in voting results (do a thorough analysis in assess).
- Build a model to predict voting results based on census data. 
- Analyse feature importance to identify links between demographic features and voting outcomes. 
- Identify regions where predictions deviate significantly from actual results (make use of LOOCV or something similar to avoid testing on region you used as part of your training, as it might not deviate much in this case).

## Project execution

In [ ]:
query_create_prices_coordinates_data = """
CREATE TABLE IF NOT EXISTS prices_coordinates_data (
  price int(10) unsigned NOT NULL,
  date_of_transfer date NOT NULL,
  postcode varchar(8) COLLATE utf8_bin NOT NULL,
  property_type varchar(1) COLLATE utf8_bin NOT NULL,
  new_build_flag varchar(1) COLLATE utf8_bin NOT NULL,
  tenure_type varchar(1) COLLATE utf8_bin NOT NULL,
  primary_addressable_object_name tinytext COLLATE utf8_bin NOT NULL,
  secondary_addressable_object_name tinytext COLLATE utf8_bin NOT NULL,
  street tinytext COLLATE utf8_bin NOT NULL,
  locality tinytext COLLATE utf8_bin NOT NULL,
  town_city tinytext COLLATE utf8_bin NOT NULL,
  district tinytext COLLATE utf8_bin NOT NULL,
  county tinytext COLLATE utf8_bin NOT NULL,
  country enum('England', 'Wales', 'Scotland', 'Northern Ireland', 'Channel Islands', 'Isle of Man') NOT NULL,
  latitude decimal(11,8) NOT NULL,
  longitude decimal(10,8) NOT NULL,
  easting int unsigned,
  northing int unsigned,
  db_id bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  PRIMARY KEY (`db_id`)
) DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1;"""

fynesse.assess.execute_query(conn, query_create_prices_coordinates_data)

for year in range(2022, 2025):
    for month in range(1, 13):
        start = f'{year}-{month}-01'
        finish = f'{year}-{month}-31'
        fynesse.access.housing_upload_join_data(conn, start, finish)

In [ ]:
fynesse.assess.create_single_index(conn, 'idx_date', 'prices_coordinates_data', 'date_of_transfer')
fynesse.assess.create_single_index(conn, 'idx_postcode', 'prices_coordinates_data', 'postcode')
fynesse.assess.create_multiple_index(conn, 'idx_lat_lon_btree', 'prices_coordinates_data', ['latitude', 'longitude'])

In [ ]:
"""
Table postcode_data - Approx Row Count 2.5M
('postcode', 'status', 'usertype', 'easting', 'northing', 'positional_quality_indicator', 'country', 'latitude', 'longitude', 'postcode_no_space', 'postcode_fixed_width_seven', 'postcode_fixed_width_eight', 'postcode_area', 'postcode_district', 'postcode_sector', 'outcode', 'incode', 'db_id')
('AB1 0AA', 'terminated', 'small', 385386, 801193, 1, 'Scotland', Decimal('57.10147400'), Decimal('-2.24285100'), 'AB10AA', 'AB1 0AA', 'AB1  0AA', 'AB', 'AB1', 'AB1 0', 'AB1', '0AA', 1)
('AB1 0AB', 'terminated', 'small', 385177, 801314, 1, 'Scotland', Decimal('57.10255400'), Decimal('-2.24630800'), 'AB10AB', 'AB1 0AB', 'AB1  0AB', 'AB', 'AB1', 'AB1 0', 'AB1', '0AB', 2)
('AB1 0AD', 'terminated', 'small', 385053, 801092, 1, 'Scotland', Decimal('57.10055600'), Decimal('-2.24834200'), 'AB10AD', 'AB1 0AD', 'AB1  0AD', 'AB', 'AB1', 'AB1 0', 'AB1', '0AD', 3)

Table pp_data - Approx Row Count 29.3M
('transaction_unique_identifier', 'price', 'date_of_transfer', 'postcode', 'property_type', 'new_build_flag', 'tenure_type', 'primary_addressable_object_name', 'secondary_addressable_object_name', 'street', 'locality', 'town_city', 'district', 'county', 'ppd_category_type', 'record_status', 'db_id')
('{109BBF80-1E51-4910-8E2C-B124E1117A7A}', 34950, datetime.date(1995, 6, 9), 'BA3 3AH', 'F', 'N', 'L', 'COOMBEND HOUSE', '7', 'COOMBEND', 'RADSTOCK', 'RADSTOCK', 'WANSDYKE', 'AVON', 'A', 'A', 1)
('{D5233D67-2975-426B-B98D-B124E39331D9}', 133000, datetime.date(1995, 6, 19), 'SW18 5AG', 'T', 'N', 'F', '142', '', 'ASTONVILLE STREET', 'LONDON', 'LONDON', 'WANDSWORTH', 'GREATER LONDON', 'A', 'A', 2)
('{718BD35C-25E1-431C-8AF7-B124E63ED4E1}', 83000, datetime.date(1995, 8, 21), 'IP11 7PU', 'D', 'N', 'F', '3', '', 'GARFIELD ROAD', 'FELIXSTOWE', 'FELIXSTOWE', 'SUFFOLK COASTAL', 'SUFFOLK', 'A', 'A', 3)

Table prices_coordinates_data - Approx Row Count 2.1M
('price', 'date_of_transfer', 'postcode', 'property_type', 'new_build_flag', 'tenure_type', 'primary_addressable_object_name', 'secondary_addressable_object_name', 'street', 'locality', 'town_city', 'district', 'county', 'country', 'latitude', 'longitude', 'easting', 'northing', 'db_id')
(370000, datetime.date(2024, 1, 1), 'WR12 7FE', 'T', 'N', 'F', '40', '', 'SARGENT SQUARE', '', 'BROADWAY', 'WYCHAVON', 'WORCESTERSHIRE', 'England', Decimal('52.04243800'), Decimal('-1.85757200'), 409865, 238235, 1)
(50000, datetime.date(2024, 1, 1), 'TS17 6LJ', 'T', 'N', 'F', '3', '', 'OXFORD ROAD', 'THORNABY', 'STOCKTON-ON-TEES', 'STOCKTON-ON-TEES', 'STOCKTON-ON-TEES', 'England', Decimal('54.55240100'), Decimal('-1.30114300'), 445300, 517686, 2)
(485000, datetime.date(2024, 1, 1), 'BR3 6QH', 'F', 'N', 'L', 'KELSEY PARK MANSIONS, 78', 'FLAT 15', 'WICKHAM ROAD', '', 'BECKENHAM', 'BROMLEY', 'GREATER LONDON', 'England', Decimal('51.40061400'), Decimal('-0.01854100'), 537932, 168705, 3)

Table prices_coordinates_data_old - Approx Row Count 5.8M
('price', 'date_of_transfer', 'postcode', 'property_type', 'new_build_flag', 'tenure_type', 'locality', 'town_city', 'district', 'county', 'country', 'latitude', 'longitude', 'db_id')
(370000, datetime.date(2024, 1, 1), 'WR12 7FE', 'T', 'N', 'F', '', 'BROADWAY', 'WYCHAVON', 'WORCESTERSHIRE', 'England', Decimal('52.04243800'), Decimal('-1.85757200'), 1)
(50000, datetime.date(2024, 1, 1), 'TS17 6LJ', 'T', 'N', 'F', 'THORNABY', 'STOCKTON-ON-TEES', 'STOCKTON-ON-TEES', 'STOCKTON-ON-TEES', 'England', Decimal('54.55240100'), Decimal('-1.30114300'), 2)
(485000, datetime.date(2024, 1, 1), 'BR3 6QH', 'F', 'N', 'L', '', 'BECKENHAM', 'BROMLEY', 'GREATER LONDON', 'England', Decimal('51.40061400'), Decimal('-0.01854100'), 3)
"""

In [1004]:
"""
url = "https://researchbriefings.files.parliament.uk/documents/CBP-10009/HoC-GE2024-results-by-constituency.csv"
file_name = "GE2024_results.csv"
fynesse.access.download_data_csv([url], [file_name])
"""

results2024_df = fynesse.access.csv_to_df("GE2024_results.csv")

In [1005]:
"""
zip_file_path = "Output_area_(2021)_to_future_Parliamentary_Constituencies_Lookup_in_England_and_Wales.zip"
extraction_folder = "OA_to_PC"

if zipfile.is_zipfile(zip_file_path):
    with zipfile.ZipFile(zip_file_path, "r") as zip_ref:
        os.makedirs(extraction_folder, exist_ok=True)
        zip_ref.extractall(extraction_folder)
    print(f"Extracted files to {extraction_folder}")
else:
    print(f"{zip_file_path} is not a valid zip file.")

oa_to_pc_gdf = gpd.read_file("OA_to_PC/Output_area_(2021)_to_future_Parliamentary_Constituencies_Lookup_in_England_and_Wales.shp")
"""

oa_to_pc_df = fynesse.access.csv_to_df("Output_area_(2021)_to_future_Parliamentary_Constituencies_Lookup_in_England_and_Wales.csv")

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/fynesse/access.py:111: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  print(f"Error loading CSV file: {e}")

In [1052]:
code = 'TS062'
census = fynesse.access.load_census_data(code, level='oa')
census.columns

Index(['date', 'geography', 'geography code',
       'National Statistics Socio-economic Classification (NS-SEC): Total: All usual residents aged 16 years and over',
       'National Statistics Socio-economic Classification (NS-SEC): L1, L2 and L3 Higher managerial, administrative and professional occupations',
       'National Statistics Socio-economic Classification (NS-SEC): L4, L5 and L6 Lower managerial, administrative and professional occupations',
       'National Statistics Socio-economic Classification (NS-SEC): L7 Intermediate occupations',
       'National Statistics Socio-economic Classification (NS-SEC): L8 and L9 Small employers and own account workers',
       'National Statistics Socio-economic Classification (NS-SEC): L10 and L11 Lower supervisory and technical occupations',
       'National Statistics Socio-economic Classification (NS-SEC): L12 Semi-routine occupations',
       'National Statistics Socio-economic Classification (NS-SEC): L13 Routine occupations',
       'National Statistics Socio-economic Classification (NS-SEC): L14.1 and L14.2 Never worked and long-term unemployed',
       'National Statistics Socio-economic Classification (NS-SEC): L15 Full-time students'],
      dtype='object')

In [1058]:
# oa2021_gdf = oa_data_gdf.copy()
oa2021_gdf = pd.read_csv('uk_oa_with_boundaries.csv')
oa2021_gdf['geometry'] = oa2021_gdf['geometry'].apply(wkt.loads)  # converting WKT strings to geometries
oa2021_gdf = gpd.GeoDataFrame(oa2021_gdf, geometry='geometry')  # converting DataFrame to GeoDataFrame
oa2021_gdf.set_crs("EPSG:27700", inplace=True)  # setting CRS to EPSG:27700 (UK Grid)

# add area
oa2021 = pd.read_csv('uk_oa_list.csv')
oa2021_gdf = oa2021_gdf.merge(oa2021[['OA21CD', 'Shape__Area']], on='OA21CD', how='left')
oa2021_gdf.rename(columns={'Shape__Area': 'AREA'}, inplace=True)

# populate
codes_and_columns = [
    ('TS007A', [8, 11, 14, 17]),  # Age groups
    ('TS021', [4, 10, 19]),      # Ethnic groups
    ('TS054', [4, 7, 9, 12]),        # Tenure
    ('TS066', [4, 16, 28]),     # Economic activity
    ('TS067', [4, 5, 6]),        # Education levels
    ('TS004', [4, 5, 13, 14]),        # Country of birth
    ('TS037', [4, 6, 8])         # Health
]

census_column_titles = []
for (code, column_numbers) in codes_and_columns:
    fynesse.access.download_census_data(code)
    census = fynesse.access.load_census_data(code, level='oa')
    columns_dict = {census.columns[i]: f'census_{code}_{i}' for i in column_numbers}
    for key, value in columns_dict.items():
        census_column_titles.append(value)
        print(value + " -> " + key)
    census.rename(columns=columns_dict, inplace=True)
    oa2021_gdf = oa2021_gdf.merge(
        census[['geography'] + [column for column in columns_dict.values()]], 
        left_on='OA21CD', 
        right_on='geography',
        how='left'
    )
    oa2021_gdf.drop(columns=['geography'], inplace=True)

oa2021_gdf.drop(columns=['LSOA21CD', 'LSOA21NMW', 'BNG_E', 'BNG_N', 'GlobalID'], inplace=True)

grouped_counts = {feature: osm_data_gdf[(osm_data_gdf[feature].notna()) & (osm_data_gdf[feature] != '')].groupby('OA21CD').size() for feature in features_of_interest}

for feature in features_of_interest:
    oa2021_gdf[feature] = oa2021_gdf['OA21CD'].map(grouped_counts[feature]).fillna(0).astype(int)

# merge oa_to_pc_df['OA21CD'] <--> oa2021_gdf['OA21CD']
columns_to_add = ['PCON25CD', 'PCON25NM', 'PCON25NMW', 'LAD21CD', 'LAD21NM']
oa2021_gdf = oa2021_gdf.merge(oa_to_pc_df[['OA21CD'] + columns_to_add], how='left', on='OA21CD')

# print(oa2021_gdf.columns)
oa2021_gdf_features_not_to_sum = ['OA21CD', 'LSOA21NM', 'LAT', 'LONG', 'geometry', 'PCON25CD', 'PCON25NM', 'PCON25NMW', 'LAD21CD', 'LAD21NM']
oa2021_gdf_features_to_sum = [col for col in oa2021_gdf.columns if col not in oa2021_gdf_features_not_to_sum]

# grouping
const_df = (
    oa2021_gdf.groupby('PCON25CD')
    .agg({feature: ('sum') for feature in oa2021_gdf_features_to_sum})
    .reset_index()  # reseting index to include 'PCON25CD' as a column
)

# const_df['PCON25CD'] <--> results2024_df['ONS ID']
const_df = const_df.merge(
    results2024_df,
    left_on='PCON25CD',
    right_on='ONS ID',
    how='left'  # using left join to retain all rows from cons_df
)

/var/folders/tq/f7lcjhp564g26624rbp38l240000gn/T/ipykernel_33730/680369622.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  oa2021_gdf = pd.read_csv('uk_oa_with_boundaries.csv')

Files already exist at: census2021-ts007a.
census_TS007A_8 -> Age: Aged 20 to 24 years
census_TS007A_11 -> Age: Aged 35 to 39 years
census_TS007A_14 -> Age: Aged 50 to 54 years
census_TS007A_17 -> Age: Aged 65 to 69 years
Files already exist at: census2021-ts021.
census_TS021_4 -> Ethnic group: Asian, Asian British or Asian Welsh
census_TS021_10 -> Ethnic group: Black, Black British, Black Welsh, Caribbean or African
census_TS021_19 -> Ethnic group: White
Files already exist at: census2021-ts054.
census_TS054_4 -> Tenure of household: Owned
census_TS054_7 -> Tenure of household: Shared ownership
census_TS054_9 -> Tenure of household: Social rented
census_TS054_12 -> Tenure of household: Private rented
Files already exist at: census2021-ts066.
census_TS066_4 -> Economic activity status: Economically active (excluding full-time students)
census_TS066_16 -> Economic activity status: Economically active and a full-time student
census_TS066_28 -> Economic activity status: Economically inactive
Files already exist at: census2021-ts067.
census_TS067_4 -> Highest level of qualification: No qualifications
census_TS067_5 -> Highest level of qualification: Level 1 and entry level qualifications
census_TS067_6 -> Highest level of qualification: Level 2 qualifications
Files already exist at: census2021-ts004.
census_TS004_4 -> Country of birth: Europe; measures: Value
census_TS004_5 -> Country of birth: Europe: United Kingdom; measures: Value
census_TS004_13 -> Country of birth: Africa; measures: Value
census_TS004_14 -> Country of birth: Middle East and Asia; measures: Value
Files already exist at: census2021-ts037.
census_TS037_4 -> General health: Very good health
census_TS037_6 -> General health: Fair health
census_TS037_8 -> General health: Very bad health

In [1054]:
const_df

,PCON25CD,AREA,census_TS007A_8,census_TS007A_11,census_TS007A_14,census_TS007A_17,census_TS021_4,census_TS021_10,census_TS021_19,census_TS054_4,...,Green,SNP,PC,DUP,SF,SDLP,UUP,APNI,All other candidates,Of which other winner
0,E14001063,5.666349e+07,6578,8868,8190,4961,15588,2776,93164,29186,...,2155,0,0,0,0,0,0,0,282,0
1,E14001064,5.375720e+07,4576,5463,6977,4803,8130,1952,79884,29470,...,1746,0,0,0,0,0,0,0,0,0
2,E14001065,5.161294e+07,3925,6963,7225,4806,12185,1658,81296,30216,...,3699,0,0,0,0,0,0,0,643,0
3,E14001066,1.246456e+08,4533,5272,7059,5313,714,232,88222,28276,...,2278,0,0,0,0,0,0,0,0,0
4,E14001067,8.349041e+08,3587,4484,7371,6800,994,329,94054,30852,...,5515,0,0,0,0,0,0,0,184,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,W07000108,3.259752e+07,12019,6541,6236,4932,7391,2094,90507,23197,...,2305,0,4105,0,0,0,0,0,337,0
571,W07000109,1.261844e+08,4710,5738,6393,5227,1204,226,89587,25915,...,1705,0,2571,0,0,0,0,0,1018,0
572,W07000110,2.955757e+08,4507,5882,6634,5586,1700,365,89861,28937,...,1881,0,3245,0,0,0,0,0,851,0
573,W07000111,2.929094e+08,5158,6525,7309,5433,1999,705,94514,26743,...,1339,0,4138,0,0,0,0,0,480,0
574,W07000112,7.151540e+08,3052,3448,4944,4745,432,105,67575,21023,...,604,0,10590,0,0,0,0,0,200,0

In [1055]:
const_df.columns

Index(['PCON25CD', 'AREA', 'census_TS007A_8', 'census_TS007A_11',
       'census_TS007A_14', 'census_TS007A_17', 'census_TS021_4',
       'census_TS021_10', 'census_TS021_19', 'census_TS054_4',
       'census_TS054_7', 'census_TS054_9', 'census_TS054_12', 'census_TS066_4',
       'census_TS066_16', 'census_TS066_28', 'census_TS067_4',
       'census_TS067_5', 'census_TS067_6', 'census_TS004_4', 'census_TS004_5',
       'census_TS004_13', 'census_TS004_14', 'census_TS037_4',
       'census_TS037_6', 'census_TS037_8', 'amenity', 'tourism', 'leisure',
       'cuisine', 'emergency', 'historic', 'sport', 'shop', 'religion',
       'power', 'military', 'house', 'building', 'ONS ID', 'ONS region ID',
       'Constituency name', 'County name', 'Region name', 'Country name',
       'Constituency type', 'Declaration time', 'Member first name',
       'Member surname', 'Member gender', 'Result', 'First party',
       'Second party', 'Electorate', 'Valid votes', 'Invalid votes',
       'Majority', 'Con', 'Lab', 'LD', 'RUK', 'Green', 'SNP', 'PC', 'DUP',
       'SF', 'SDLP', 'UUP', 'APNI', 'All other candidates',
       'Of which other winner'],
      dtype='object')

In [1056]:
oa2021_gdf

,OA21CD,LSOA21NM,LAT,LONG,geometry,AREA,census_TS007A_8,census_TS007A_11,census_TS007A_14,census_TS007A_17,...,religion,power,military,house,building,PCON25CD,PCON25NM,PCON25NMW,LAD21CD,LAD21NM
0,E00000001,City of London 001A,51.5202,-0.09523,"POLYGON ((532303.492 181814.110, 532213.378 18...",6949.151482,3,4,15,24,...,0,0,0,0,0,E14001172,Cities of London and Westminster,NaN,E09000001,City of London
1,E00000003,City of London 001A,51.5198,-0.09638,"POLYGON ((532213.378 181846.192, 532190.539 18...",4492.411072,12,13,20,35,...,0,0,0,0,0,E14001172,Cities of London and Westminster,NaN,E09000001,City of London
2,E00000005,City of London 001A,51.5190,-0.09649,"POLYGON ((532180.131 181763.020, 532219.161 18...",8565.514214,7,5,8,12,...,0,0,0,0,1,E14001172,Cities of London and Westminster,NaN,E09000001,City of London
3,E00000007,City of London 001A,51.5167,-0.09771,"POLYGON ((532201.292 181668.180, 532267.728 18...",75994.829704,17,16,5,4,...,0,0,0,0,9,E14001172,Cities of London and Westminster,NaN,E09000001,City of London
4,E00000010,City of London 001C,51.5225,-0.09741,"POLYGON ((532127.958 182133.192, 532089.264 18...",2102.876602,9,34,18,7,...,0,0,0,0,0,E14001172,Cities of London and Westminster,NaN,E09000001,City of London
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188875,W00010693,Gwynedd 001A,53.2224,-4.13012,"POLYGON ((258000.635 371797.895, 258087.308 37...",117624.672455,364,5,2,8,...,0,0,0,0,3,W07000083,Bangor Aberconwy,Bangor Aberconwy,W06000002,Gwynedd
188876,W00010694,Carmarthenshire 006C,51.8631,-4.32295,"POLYGON ((240288.250 220817.041, 240329.841 22...",261298.148006,21,22,28,22,...,0,0,0,0,7,W07000087,Caerfyrddin,Caerfyrddin,W06000010,Carmarthenshire
188877,W00010695,Carmarthenshire 016C,51.8009,-4.08136,"POLYGON ((256825.351 213622.891, 256842.777 21...",196049.177578,13,8,17,10,...,0,0,0,0,0,W07000098,Llanelli,Llanelli,W06000010,Carmarthenshire
188878,W00010696,Carmarthenshire 026G,51.6655,-4.13803,"POLYGON ((252565.969 198452.812, 252493.604 19...",358656.479244,5,23,8,10,...,0,0,0,0,0,W07000098,Llanelli,Llanelli,W06000010,Carmarthenshire
188879,W00010697,Carmarthenshire 023C,51.6857,-4.17430,"POLYGON ((249940.489 200831.457, 249920.765 20...",41479.260704,21,24,9,12,...,0,0,0,0,0,W07000098,Llanelli,Llanelli,W06000010,Carmarthenshire

In [1057]:
oa2021_gdf.columns

Index(['OA21CD', 'LSOA21NM', 'LAT', 'LONG', 'geometry', 'AREA',
       'census_TS007A_8', 'census_TS007A_11', 'census_TS007A_14',
       'census_TS007A_17', 'census_TS021_4', 'census_TS021_10',
       'census_TS021_19', 'census_TS054_4', 'census_TS054_7', 'census_TS054_9',
       'census_TS054_12', 'census_TS066_4', 'census_TS066_16',
       'census_TS066_28', 'census_TS067_4', 'census_TS067_5', 'census_TS067_6',
       'census_TS004_4', 'census_TS004_5', 'census_TS004_13',
       'census_TS004_14', 'census_TS037_4', 'census_TS037_6', 'census_TS037_8',
       'amenity', 'tourism', 'leisure', 'cuisine', 'emergency', 'historic',
       'sport', 'shop', 'religion', 'power', 'military', 'house', 'building',
       'PCON25CD', 'PCON25NM', 'PCON25NMW', 'LAD21CD', 'LAD21NM'],
      dtype='object')

In [1059]:
census_column_titles

['census_TS007A_8',
 'census_TS007A_11',
 'census_TS007A_14',
 'census_TS007A_17',
 'census_TS021_4',
 'census_TS021_10',
 'census_TS021_19',
 'census_TS054_4',
 'census_TS054_7',
 'census_TS054_9',
 'census_TS054_12',
 'census_TS066_4',
 'census_TS066_16',
 'census_TS066_28',
 'census_TS067_4',
 'census_TS067_5',
 'census_TS067_6',
 'census_TS004_4',
 'census_TS004_5',
 'census_TS004_13',
 'census_TS004_14',
 'census_TS037_4',
 'census_TS037_6',
 'census_TS037_8']

In [1061]:
to_cluster_df = const_df.copy()[['PCON25CD'] + census_column_titles]

In [1062]:
to_cluster_df

,PCON25CD,census_TS007A_8,census_TS007A_11,census_TS007A_14,census_TS007A_17,census_TS021_4,census_TS021_10,census_TS021_19,census_TS054_4,census_TS054_7,...,census_TS067_4,census_TS067_5,census_TS067_6,census_TS004_4,census_TS004_5,census_TS004_13,census_TS004_14,census_TS037_4,census_TS037_6,census_TS037_8
0,E14001063,6578,8868,8190,4961,15588,2776,93164,29186,799,...,16909,11352,13753,98776,91404,2603,14448,58348,13623,915
1,E14001064,4576,5463,6977,4803,8130,1952,79884,29470,220,...,16897,8201,10965,89496,87678,787,2870,41645,13570,1253
2,E14001065,3925,6963,7225,4806,12185,1658,81296,30216,239,...,9143,5680,9708,90441,86205,1617,7792,56963,10116,886
3,E14001066,4533,5272,7059,5313,714,232,88222,28276,207,...,16266,8534,11109,89100,87090,310,556,38569,13819,1193
4,E14001067,3587,4484,7371,6800,994,329,94054,30852,419,...,11562,7405,12243,92899,89360,1435,1354,48766,11647,803
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
570,W07000108,12019,6541,6236,4932,7391,2094,90507,23197,111,...,18257,6879,11087,95569,89995,2121,6019,47899,15300,2211
571,W07000109,4710,5738,6393,5227,1204,226,89587,25915,229,...,16633,7688,11460,90546,88983,381,1066,39328,14347,1723
572,W07000110,4507,5882,6634,5586,1700,365,89861,28937,101,...,12628,6783,11506,91694,89544,603,1421,44699,12918,1486
573,W07000111,5158,6525,7309,5433,1999,705,94514,26743,140,...,16561,7459,12320,96174,90023,782,1671,45420,13897,1291
574,W07000112,3052,3448,4944,4745,432,105,67575,21023,83,...,10262,4827,8450,67867,66582,260,481,32786,10214,874

In [1084]:
x = const_df.copy()[census_column_titles].to_numpy()
y = const_df.copy()['Con'].to_numpy()
fynesse.address.cross_validation(x, y, 10)

AttributeError: module 'fynesse' has no attribute 'address'

In [1077]:
x

array([[ 6578,  8868,  8190, ..., 58348, 13623,   915],
       [ 4576,  5463,  6977, ..., 41645, 13570,  1253],
       [ 3925,  6963,  7225, ..., 56963, 10116,   886],
       ...,
       [ 4507,  5882,  6634, ..., 44699, 12918,  1486],
       [ 5158,  6525,  7309, ..., 45420, 13897,  1291],
       [ 3052,  3448,  4944, ..., 32786, 10214,   874]])

In [1066]:
const_df.columns

Index(['PCON25CD', 'AREA', 'census_TS007A_8', 'census_TS007A_11',
       'census_TS007A_14', 'census_TS007A_17', 'census_TS021_4',
       'census_TS021_10', 'census_TS021_19', 'census_TS054_4',
       'census_TS054_7', 'census_TS054_9', 'census_TS054_12', 'census_TS066_4',
       'census_TS066_16', 'census_TS066_28', 'census_TS067_4',
       'census_TS067_5', 'census_TS067_6', 'census_TS004_4', 'census_TS004_5',
       'census_TS004_13', 'census_TS004_14', 'census_TS037_4',
       'census_TS037_6', 'census_TS037_8', 'amenity', 'tourism', 'leisure',
       'cuisine', 'emergency', 'historic', 'sport', 'shop', 'religion',
       'power', 'military', 'house', 'building', 'ONS ID', 'ONS region ID',
       'Constituency name', 'County name', 'Region name', 'Country name',
       'Constituency type', 'Declaration time', 'Member first name',
       'Member surname', 'Member gender', 'Result', 'First party',
       'Second party', 'Electorate', 'Valid votes', 'Invalid votes',
       'Majority', 'Con', 'Lab', 'LD', 'RUK', 'Green', 'SNP', 'PC', 'DUP',
       'SF', 'SDLP', 'UUP', 'APNI', 'All other candidates',
       'Of which other winner'],
      dtype='object')

In [1072]:
const_df[['Con', 'Lab', 'LD', 'RUK', 'Green']] # [['SNP', 'PC', 'DUP', 'SF', 'SDLP', 'UUP', 'APNI']]

       Con    Lab    LD    RUK  Green
0    14081  19764  4052   8210   2155
1    15901  11607  1755   9903   1746
2    16624  20798  4727   4961   3699
3    10725  15746  1590  12192   2278
4    22001   9782  9867   7391   5515
..     ...    ...   ...    ...    ...
570   3536  14761  4367   6246   2305
571   5737  15176  1644   7854   1705
572  13524  17740  1612   6973   1881
573   9888  15836  1777   6915   1339
574   9953   7619   439   3223    604

[575 rows x 5 columns]

## Conclusions

The below code is for marking purpuses only, and not part of your project. It helps us gather the data we need without asking you for database credentials, and scouring github pages. This is mandatory. If the code does not work for you, let us know immediately.

1) Please re-run the code from Practical 1 to help us see the contents of your database. We recommend you include all data sources there, but some smaller inputs are fine to use as files.

In [ ]:
tables = %sql SHOW TABLES;

for row in tables:
    table_name = row[0]
    print(f"\nTable: {table_name}")

    table_status = %sql SHOW TABLE STATUS LIKE '{table_name}';
    approx_row_count = table_status[0][4] if table_status else 'Unable to fetch row count'
    print("\nApprox Row Count:", approx_row_count//100000/10, "M")

    first_5_rows = %sql SELECT * FROM `{table_name}` LIMIT 5;
    print(first_5_rows)

    indices = %sql SHOW INDEX FROM `{table_name}`;
    if indices:
        print("\nIndices:")
        for index in indices:
            print(f" - {index[2]} ({index[10]}): Column {index[4]}")
    else:
        print("\nNo indices set on this table.")

Unfortunately I can't run the code above, so I'll display same output using different method.

In [917]:
import yaml

with open("credentials.yaml") as file:
    credentials = yaml.safe_load(file)

conn = pymysql.connect(
    user=credentials["username"],
    passwd=credentials["password"],
    host=credentials["url"],
    port=(int)(credentials["port"]),
    local_infile=1,
    db="ads_2024"
)

In [918]:
def ex_query(conn, query):
    
    cur = conn.cursor()
    cur.execute(query)
    rows = cur.fetchall()

    conn.commit()
    return rows

In [920]:
tables = ex_query(conn, f"SHOW TABLES;")

for row in tables:
    table_name = row[0]
    print(f"\nTable: {table_name}")

    table_status = ex_query(conn, f"SHOW TABLE STATUS LIKE '{table_name}';")
    approx_row_count = table_status[0][4] if table_status else 'Unable to fetch row count'
    print("\nApprox Row Count:", approx_row_count//100000/10, "M")

    first_5_rows = ex_query(conn, f"SELECT * FROM `{table_name}` LIMIT 5;")
    print(first_5_rows)

    indices = ex_query(conn, f"SHOW INDEX FROM `{table_name}`;")
    if indices:
        print("\nIndices:")
        for index in indices:
            print(f" - {index[2]} ({index[10]}): Column {index[4]}")
    else:
        print("\nNo indices set on this table.")

Table: census_data_mi

Approx Row Count: 0.1 M
((2021, 'E00060274', 'E00060274', 271, 253, 0, 18, 0, 1), (2021, 'E00060275', 'E00060275', 407, 386, 0, 19, 2, 2), (2021, 'E00060276', 'E00060276', 257, 245, 0, 12, 0, 3), (2021, 'E00060277', 'E00060277', 275, 244, 0, 31, 0, 4), (2021, 'E00060279', 'E00060279', 272, 257, 0, 15, 0, 5))

Indices:
 - PRIMARY (BTREE): Column db_id
 - idx_geography_code (BTREE): Column geography_code

Table: census_data_nssec

Approx Row Count: 0.1 M
((2021, 'E00000001', 'E00000001', 159, 80, 38, 13, 9, 3, 5, 5, 4, 2, 1), (2021, 'E00000003', 'E00000003', 222, 96, 58, 8, 26, 2, 5, 2, 5, 20, 2), (2021, 'E00000005', 'E00000005', 103, 37, 28, 8, 21, 0, 3, 1, 1, 4, 3), (2021, 'E00000007', 'E00000007', 140, 62, 39, 5, 11, 3, 3, 1, 6, 10, 4), (2021, 'E00000010', 'E00000010', 170, 34, 45, 17, 27, 7, 10, 14, 11, 5, 5))

Indices:
 - PRIMARY (BTREE): Column db_id
 - idx_geography_code (BTREE): Column geography_code

Table: data_oa

Approx Row Count: 0.1 M
((1, 'E00000001', 'E01000001', 'City of London 001A', ' ', 532250, 181864, 51.5202, -0.09523, 6949.15, 421.166, '3a44dd3d-5082-4a09-9b9c-3a5fadc811ed\r', 1), (2, 'E00000003', 'E01000001', 'City of London 001A', ' ', 532171, 181819, 51.5198, -0.09638, 4492.41, 307.715, 'f1216dc8-14d1-4857-9230-cab0641758fb\r', 2), (3, 'E00000005', 'E01000001', 'City of London 001A', ' ', 532166, 181722, 51.519, -0.09649, 8565.51, 385.205, '44d6f70f-549c-4288-9b6d-de2adbf02582\r', 3), (4, 'E00000007', 'E01000001', 'City of London 001A', ' ', 532088, 181473, 51.5167, -0.09771, 75994.8, 1408.61, '4dd683e1-9a5c-46cf-9e19-8465c8fbb6cb\r', 4), (5, 'E00000010', 'E01000003', 'City of London 001C', ' ', 532092, 182114, 51.5225, -0.09741, 2102.88, 215.272, '7476781f-8fe4-4c9b-bde1-0eecbd146dff\r', 5))

Indices:
 - PRIMARY (BTREE): Column db_id
 - idx_oa (BTREE): Column OA21CD
 - idx_lsoa (BTREE): Column LSOA21CD
 - idx_lat_lon_btree (BTREE): Column LAT
 - idx_lat_lon_btree (BTREE): Column LON

Table: data_oa_with_boundaries

Approx Row Count: 0.1 M
(('E00000001', 'E01000001', 'City of London 001A', '', 532250, 181864, 51.5202, -0.09523, '3a44dd3d-5082-4a09-9b9c-3a5fadc811ed', 'POLYGON ((532303.4919999996 181814.1099999994, 532213.3779999996 181846.1919999998, 532194.8990000002 181874.26300000027, 532162.9718000004 181864.00879999995, 532162.4910000004 181867.76300000027, 532248.3943999996 181895.3501999993, 532282.6299999999 181906.49599999934, 532308.875 181914.79700000025, 532303.4919999996 181814.1099999994))', 1), ('E00000003', 'E01000001', 'City of London 001A', '', 532171, 181819, 51.5198, -0.09638, 'f1216dc8-14d1-4857-9230-cab0641758fb', 'POLYGON ((532213.3779999996 181846.1919999998, 532190.5392000005 181796.06120000035, 532180.131 181763.01999999955, 532155.909 181805.6799999997, 532127.2989999996 181800.62399999984, 532162.9718000004 181864.00879999995, 532194.8990000002 181874.26300000027, 532213.3779999996 181846.1919999998))', 2), ('E00000005', 'E01000001', 'City of London 001A', '', 532166, 181722, 51.519, -0.09649, '44d6f70f-549c-4288-9b6d-de2adbf02582', 'POLYGON ((532180.131 181763.01999999955, 532219.1610000003 181703.9389999993, 532201.2920000004 181668.1799999997, 532124.3210000005 181682.67500000075, 532127.2989999996 181800.62399999984, 532155.909 181805.6799999997, 532180.131 181763.01999999955))', 3), ('E00000007', 'E01000001', 'City of London 001A', '', 532088, 181473, 51.5167, -0.09771, '4dd683e1-9a5c-46cf-9e19-8465c8fbb6cb', 'POLYGON ((532201.2920000004 181668.1799999997, 532267.7280000001 181643.7809999995, 532213.0640000002 181477.20299999975, 532282.25 181460.5, 532248.2489999998 181332.0360000003, 532227.6880000001 181278.875, 532173.125 181263.45299999975, 532074.375 181338.29700000025, 532080.25 181456.75, 531948.3130000001 181471.9690000005, 531951.875 181548, 531985.6409999998 181583.3010000009, 532052.5 181600.39100000076, 532064.375 181561.5940000005, 532095.5702 181577.3063999992, 532133 181614, 532124.3210000005 181682.67500000075, 532201.2920000004 181668.1799999997))', 4), ('E00000010', 'E01000003', 'City of London 001C', '', 532092, 182114, 51.5225, -0.09741, '7476781f-8fe4-4c9b-bde1-0eecbd146dff', 'POLYGON ((532127.9579999996 182133.1919999998, 532089.2640000004 182076.9849999994, 532071.3020000001 182159.5859999992, 532127.9579999996 182133.1919999998))', 5))

Indices:
 - PRIMARY (BTREE): Column db_id
 - idx_oa (BTREE): Column OA21CD
 - idx_lsoa (BTREE): Column LSOA21CD
 - idx_lat_lon_btree (BTREE): Column LAT
 - idx_lat_lon_btree (BTREE): Column LON

Table: osm_data

Approx Row Count: 2.6 M
(('way', 72499117, 'POLYGON ((-6.3134352 49.9146669, -6.3134663 49.9147353, -6.3134061 49.9147467, -6.3134095 49.9147542, -6.3131503 49.9148031, -6.3131469 49.9147957, -6.3130936 49.9148057, -6.3130624 49.9147373, -6.3134352 49.9146669))', '', '[860681919, 860681920, 9169387085, 9169387084, 9169387083, 9169387086, 860681921, 860681922, 860681919]', '', '', 'TR21 0JT', 'Church Street', '', 'Hugh Town', '', '', 'Isles of Scilly Museum', '', '', '', '', '', '', '', 'museum', '', '', '', '', '', '', '', '', '', '', '', 'yes', '', '', '', '', '', '', '', '', '', 1, 49.914736856852464, -6.31326507709315, 237.8068804818078, 2.9801729999919798e-08), ('way', 112445611, 'POLYGON ((-6.3084596 49.9166407, -6.308579 49.916719, -6.3085171 49.9167581, -6.3084892 49.9167398, -6.3085024 49.9167315, -6.3084109 49.9166715, -6.3084596 49.9166407))', '', '[9170680719, 1277992838, 9170680715, 9170680714, 9170680716, 1277992862, 9170680719]', '', '', 'TR21 0JY', '', '', 'Portmellon', '', '', 'The Sailing Centre', '', '', '', '', '', '', '', '', '', 'boathouse', '', '', '', 'sailing', '', '', '', '', '', 'yes', '', '', '', '', '', '', '', '', '', 2, 49.9166731919666, -6.308492663762725, 63.53496052630628, 7.962459999943444e-09), ('way', 112445629, 'POLYGON ((-6.3087257 49.9166066, -6.3085551 49.916498, -6.3086358 49.9164671, -6.3087896 49.9165649, -6.3087257 49.9166066))', '', '[1277992753, 9170680721, 1277992733, 1277992688, 1277992753]', '', '', 'TR21 0JY', '', '', 'Portmellon', '', '', 'The Beach', '', '', '', '', '', '', 'restaurant', '', '', '', '', '', '', '', '', '', '', '', '', 'yes', '', '', '', '', '', '', '', '', '', 3, 49.91654882685142, -6.308677754147191, 106.51787931000683, 1.334922000041799e-08), ('way', 112445634, 'POLYGON ((-6.3032099 49.9119639, -6.3031428 49.9119763, -6.3030931 49.9118651, -6.3031602 49.9118527, -6.3032099 49.9119639))', '', '[1277992657, 1277992866, 1277992847, 1277992603, 1277992657]', '', '', 'TR21 0NH', '', '', 'Old Town', 'Nowhere', '', 'Island Sea Safaris', '', '', '', '', '', '', '', '', '', 'sports_centre', '', '', '', '', '', '', '', '', '', 'yes', '', '', '', '', '', '', '', '', '', 4, 49.91190315501388, -6.303150067058586, 64.46167046371113, 8.077800000209725e-09), ('way', 232574846, 'POLYGON ((-6.3111548 49.9164108, -6.3112935 49.9164135, -6.311294 49.9164032, -6.3113067 49.9164034, -6.3113082 49.9163699, -6.3113173 49.91637, -6.3113191 49.9163326, -6.3113086 49.9163324, -6.3113105 49.9162915, -6.3113015 49.9162913, -6.3113021 49.9162795, -6.3111672 49.9162769, -6.311166 49.9163023, -6.3111187 49.9163014, -6.3111205 49.9162634, -6.3110426 49.9162619, -6.3110409 49.9162994, -6.3110344 49.9162993, -6.3110304 49.9163869, -6.3111558 49.9163893, -6.3111548 49.9164108))', '', '[2409193065, 380751771, 9169387749, 9169387747, 9169387745, 9169387744, 9169387746, 9169387748, 2409193066, 9169387743, 9169387742, 2409193067, 2409193068, 2411435643, 2411435642, 2409193069, 9169387741, 9169387740, 2409193070, 2409193071, 2409193065]', '', '', 'TR21 0PT', 'Strand', '', '', '', '', 'Mincarlo Guest House', '', '', '', '', '', '', '', 'guest_house', '', '', '', '', '', '', '', '', '', '', '', 'yes', '', '', '', '', '', '', '', '', '', 5, 49.91632194364334, -6.311174079708863, 271.9875169696858, 3.408633499966264e-08))

Indices:
 - PRIMARY (BTREE): Column db_id
 - idx_postcode (BTREE): Column addr_postcode

Table: osm_data_subset

Approx Row Count: 0.0 M
(('way', 72499117, 'POLYGON ((-6.3134352 49.9146669, -6.3134663 49.9147353, -6.3134061 49.9147467, -6.3134095 49.9147542, -6.3131503 49.9148031, -6.3131469 49.9147957, -6.3130936 49.9148057, -6.3130624 49.9147373, -6.3134352 49.9146669))', '', '[860681919, 860681920, 9169387085, 9169387084, 9169387083, 9169387086, 860681921, 860681922, 860681919]', '', '', 'TR21 0JT', 'Church Street', '', 'Hugh Town', '', '', 'Isles of Scilly Museum', '', '', '', '', '', '', '', 'museum', '', '', '', '', '', '', '', '', '', '', '', 'yes', '', '', '', '', '', '', '', '', '', 1, 49.914736856852464, -6.31326507709315, 237.8068804818078, 2.9801729999919798e-08), ('way', 112445611, 'POLYGON ((-6.3084596 49.9166407, -6.308579 49.916719, -6.3085171 49.9167581, -6.3084892 49.9167398, -6.3085024 49.9167315, -6.3084109 49.9166715, -6.3084596 49.9166407))', '', '[9170680719, 1277992838, 9170680715, 9170680714, 9170680716, 1277992862, 9170680719]', '', '', 'TR21 0JY', '', '', 'Portmellon', '', '', 'The Sailing Centre', '', '', '', '', '', '', '', '', '', 'boathouse', '', '', '', 'sailing', '', '', '', '', '', 'yes', '', '', '', '', '', '', '', '', '', 2, 49.9166731919666, -6.308492663762725, 63.53496052630628, 7.962459999943444e-09), ('way', 112445629, 'POLYGON ((-6.3087257 49.9166066, -6.3085551 49.916498, -6.3086358 49.9164671, -6.3087896 49.9165649, -6.3087257 49.9166066))', '', '[1277992753, 9170680721, 1277992733, 1277992688, 1277992753]', '', '', 'TR21 0JY', '', '', 'Portmellon', '', '', 'The Beach', '', '', '', '', '', '', 'restaurant', '', '', '', '', '', '', '', '', '', '', '', '', 'yes', '', '', '', '', '', '', '', '', '', 3, 49.91654882685142, -6.308677754147191, 106.51787931000683, 1.334922000041799e-08), ('way', 112445634, 'POLYGON ((-6.3032099 49.9119639, -6.3031428 49.9119763, -6.3030931 49.9118651, -6.3031602 49.9118527, -6.3032099 49.9119639))', '', '[1277992657, 1277992866, 1277992847, 1277992603, 1277992657]', '', '', 'TR21 0NH', '', '', 'Old Town', 'Nowhere', '', 'Island Sea Safaris', '', '', '', '', '', '', '', '', '', 'sports_centre', '', '', '', '', '', '', '', '', '', 'yes', '', '', '', '', '', '', '', '', '', 4, 49.91190315501388, -6.303150067058586, 64.46167046371113, 8.077800000209725e-09), ('way', 232574846, 'POLYGON ((-6.3111548 49.9164108, -6.3112935 49.9164135, -6.311294 49.9164032, -6.3113067 49.9164034, -6.3113082 49.9163699, -6.3113173 49.91637, -6.3113191 49.9163326, -6.3113086 49.9163324, -6.3113105 49.9162915, -6.3113015 49.9162913, -6.3113021 49.9162795, -6.3111672 49.9162769, -6.311166 49.9163023, -6.3111187 49.9163014, -6.3111205 49.9162634, -6.3110426 49.9162619, -6.3110409 49.9162994, -6.3110344 49.9162993, -6.3110304 49.9163869, -6.3111558 49.9163893, -6.3111548 49.9164108))', '', '[2409193065, 380751771, 9169387749, 9169387747, 9169387745, 9169387744, 9169387746, 9169387748, 2409193066, 9169387743, 9169387742, 2409193067, 2409193068, 2411435643, 2411435642, 2409193069, 9169387741, 9169387740, 2409193070, 2409193071, 2409193065]', '', '', 'TR21 0PT', 'Strand', '', '', '', '', 'Mincarlo Guest House', '', '', '', '', '', '', '', 'guest_house', '', '', '', '', '', '', '', '', '', '', '', 'yes', '', '', '', '', '', '', '', '', '', 5, 49.91632194364334, -6.311174079708863, 271.9875169696858, 3.408633499966264e-08))

Indices:
 - idx_postcode (BTREE): Column addr_postcode

Table: postcode_data

Approx Row Count: 2.5 M
(('AB1 0AA', 'terminated', 'small', 385386, 801193, 1, 'Scotland', Decimal('57.10147400'), Decimal('-2.24285100'), 'AB10AA', 'AB1 0AA', 'AB1  0AA', 'AB', 'AB1', 'AB1 0', 'AB1', '0AA', 1), ('AB1 0AB', 'terminated', 'small', 385177, 801314, 1, 'Scotland', Decimal('57.10255400'), Decimal('-2.24630800'), 'AB10AB', 'AB1 0AB', 'AB1  0AB', 'AB', 'AB1', 'AB1 0', 'AB1', '0AB', 2), ('AB1 0AD', 'terminated', 'small', 385053, 801092, 1, 'Scotland', Decimal('57.10055600'), Decimal('-2.24834200'), 'AB10AD', 'AB1 0AD', 'AB1  0AD', 'AB', 'AB1', 'AB1 0', 'AB1', '0AD', 3), ('AB1 0AE', 'terminated', 'small', 384600, 799300, 8, 'Scotland', Decimal('57.08444400'), Decimal('-2.25570800'), 'AB10AE', 'AB1 0AE', 'AB1  0AE', 'AB', 'AB1', 'AB1 0', 'AB1', '0AE', 4), ('AB1 0AF', 'terminated', 'large', 384460, 800660, 8, 'Scotland', Decimal('57.09665600'), Decimal('-2.25810200'), 'AB10AF', 'AB1 0AF', 'AB1  0AF', 'AB', 'AB1', 'AB1 0', 'AB1', '0AF', 5))

Indices:
 - PRIMARY (BTREE): Column db_id
 - idx_postcode_postcode (BTREE): Column postcode

Table: pp_data

Approx Row Count: 29.3 M
(('{109BBF80-1E51-4910-8E2C-B124E1117A7A}', 34950, datetime.date(1995, 6, 9), 'BA3 3AH', 'F', 'N', 'L', 'COOMBEND HOUSE', '7', 'COOMBEND', 'RADSTOCK', 'RADSTOCK', 'WANSDYKE', 'AVON', 'A', 'A', 1), ('{D5233D67-2975-426B-B98D-B124E39331D9}', 133000, datetime.date(1995, 6, 19), 'SW18 5AG', 'T', 'N', 'F', '142', '', 'ASTONVILLE STREET', 'LONDON', 'LONDON', 'WANDSWORTH', 'GREATER LONDON', 'A', 'A', 2), ('{718BD35C-25E1-431C-8AF7-B124E63ED4E1}', 83000, datetime.date(1995, 8, 21), 'IP11 7PU', 'D', 'N', 'F', '3', '', 'GARFIELD ROAD', 'FELIXSTOWE', 'FELIXSTOWE', 'SUFFOLK COASTAL', 'SUFFOLK', 'A', 'A', 3), ('{E127F626-6247-4D95-A392-B124F4C0A558}', 59000, datetime.date(1995, 7, 27), 'PE21 0SF', 'D', 'Y', 'F', 'BEAUCADRE', '', 'GAYSFIELD ROAD', 'FISHTOFT', 'BOSTON', 'BOSTON', 'LINCOLNSHIRE', 'A', 'A', 4), ('{B10762A0-2C9C-4C82-A885-B1250B55FFF9}', 51000, datetime.date(1995, 2, 28), 'ME7 4DF', 'T', 'N', 'F', '41', '', 'FRANKLIN ROAD', 'GILLINGHAM', 'GILLINGHAM', 'GILLINGHAM', 'KENT', 'A', 'A', 5))

Indices:
 - PRIMARY (BTREE): Column db_id
 - idx_pp_postcode (BTREE): Column postcode
 - idx_pp_date_transfer (BTREE): Column date_of_transfer
 - idx_address (BTREE): Column postcode
 - idx_address (BTREE): Column street
 - idx_address (BTREE): Column primary_addressable_object_name
 - idx_address (BTREE): Column town_city

Table: prices_coordinates_data

Approx Row Count: 2.1 M
((370000, datetime.date(2024, 1, 1), 'WR12 7FE', 'T', 'N', 'F', '40', '', 'SARGENT SQUARE', '', 'BROADWAY', 'WYCHAVON', 'WORCESTERSHIRE', 'England', Decimal('52.04243800'), Decimal('-1.85757200'), 409865, 238235, 1), (50000, datetime.date(2024, 1, 1), 'TS17 6LJ', 'T', 'N', 'F', '3', '', 'OXFORD ROAD', 'THORNABY', 'STOCKTON-ON-TEES', 'STOCKTON-ON-TEES', 'STOCKTON-ON-TEES', 'England', Decimal('54.55240100'), Decimal('-1.30114300'), 445300, 517686, 2), (485000, datetime.date(2024, 1, 1), 'BR3 6QH', 'F', 'N', 'L', 'KELSEY PARK MANSIONS, 78', 'FLAT 15', 'WICKHAM ROAD', '', 'BECKENHAM', 'BROMLEY', 'GREATER LONDON', 'England', Decimal('51.40061400'), Decimal('-0.01854100'), 537932, 168705, 3), (226000, datetime.date(2024, 1, 1), 'BL9 9EZ', 'S', 'N', 'F', '4', '', 'HAMPSHIRE CLOSE', '', 'BURY', 'BURY', 'GREATER MANCHESTER', 'England', Decimal('53.58415200'), Decimal('-2.28348100'), 381330, 409765, 4), (64000, datetime.date(2024, 1, 1), 'NE29 7LT', 'F', 'N', 'L', '70', '', 'VERNE ROAD', '', 'NORTH SHIELDS', 'NORTH TYNESIDE', 'TYNE AND WEAR', 'England', Decimal('55.01156300'), Decimal('-1.46931900'), 434036, 568685, 5))

Indices:
 - PRIMARY (BTREE): Column db_id
 - idx_date (BTREE): Column date_of_transfer
 - idx_postcode (BTREE): Column postcode
 - idx_lat_lon_btree (BTREE): Column latitude
 - idx_lat_lon_btree (BTREE): Column longitude

Table: prices_coordinates_data_old

Approx Row Count: 5.8 M
((370000, datetime.date(2024, 1, 1), 'WR12 7FE', 'T', 'N', 'F', '', 'BROADWAY', 'WYCHAVON', 'WORCESTERSHIRE', 'England', Decimal('52.04243800'), Decimal('-1.85757200'), 1), (50000, datetime.date(2024, 1, 1), 'TS17 6LJ', 'T', 'N', 'F', 'THORNABY', 'STOCKTON-ON-TEES', 'STOCKTON-ON-TEES', 'STOCKTON-ON-TEES', 'England', Decimal('54.55240100'), Decimal('-1.30114300'), 2), (485000, datetime.date(2024, 1, 1), 'BR3 6QH', 'F', 'N', 'L', '', 'BECKENHAM', 'BROMLEY', 'GREATER LONDON', 'England', Decimal('51.40061400'), Decimal('-0.01854100'), 3), (226000, datetime.date(2024, 1, 1), 'BL9 9EZ', 'S', 'N', 'F', '', 'BURY', 'BURY', 'GREATER MANCHESTER', 'England', Decimal('53.58415200'), Decimal('-2.28348100'), 4), (64000, datetime.date(2024, 1, 1), 'NE29 7LT', 'F', 'N', 'L', '', 'NORTH SHIELDS', 'NORTH TYNESIDE', 'TYNE AND WEAR', 'England', Decimal('55.01156300'), Decimal('-1.46931900'), 5))

Indices:
 - PRIMARY (BTREE): Column db_id
 - idx_lat_lon_btree (BTREE): Column latitude
 - idx_lat_lon_btree (BTREE): Column longitude

2) Please paste a link to your fynesse library below, and make sure it's publically accessible. Also run the code below, and make sure it worked, printing out the contents of your library.

In [921]:
fynesse_url = 'https://github.com/sdenyskov/sd995_ads_2024.git' # '<your-url-library-here>'

In [924]:
import fynesse
import os

print('FYNESSE STRUCTURE:')
package_path = os.path.dirname(fynesse.__file__)
for root, dirs, files in os.walk(package_path):
    level = root.replace(package_path, '').count(os.sep)
    indent = ' ' * 4 * level
    print(f"{indent}{os.path.basename(root)}/")
    sub_indent = ' ' * 4 * (level + 1)
    for f in files:
        print(f"{sub_indent}{f}")

print('FILE CONTENTS')
for root, dirs, files in os.walk(package_path):
    for file in files:
        file_path = os.path.join(root, file)
        print(f"--- Contents of {file_path} ---\n")
        try:
            with open(file_path, "r", encoding="utf-8") as f:
                print(f.read())
        except Exception as e:
            print(f"Could not read {file_path}: {e}")
        print("\n" + "-" * 50 + "\n")

FYNESSE STRUCTURE:
fynesse/
    defaults.yml
    address.py
    config.py
    access.py
    __init__.py
    assess.py
    __pycache__/
        address.cpython-310.pyc
        assess.cpython-310.pyc
        config.cpython-310.pyc
        access.cpython-310.pyc
        __init__.cpython-310.pyc
FILE CONTENTS
--- Contents of /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/fynesse/defaults.yml ---

# Place config informatio you want everyone to have here.
data_url: https://raw.githubusercontent.com/lawrennd/datasets_mirror/main/


--------------------------------------------------

--- Contents of /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/fynesse/address.py ---

from .config import *

import pandas as pd
import numpy as np
import statsmodels.api as sm
from sklearn.model_selection import KFold
from sklearn.metrics import mean_squared_error, r2_score



def fit_and_predict(x, y, x_pred, design_matrix = lambda x: x.reshape(-1, 1), regularised = False, alpha = 0.05, L1_wt = 1.0):

    # Example of design_matrix: design_matrix = lambda x: sm.add_constant(np.concatenate(((x).reshape(-1, 1), (x**2).reshape(-1, 1), (x**3).reshape(-1, 1)), axis=1))

    np.random.seed(42)

    if regularised:
        model = sm.OLS(y, design_matrix(x))
        results = model.fit_regularized(alpha=alpha, L1_wt=L1_wt)
        y_pred = results.predict(design_matrix(x_pred))
    else:
        model = sm.OLS(y, design_matrix(x))
        results = model.fit()
        y_pred = results.get_prediction(design_matrix(x_pred)).summary_frame(alpha=0.00)['mean']

    return y_pred

def cross_validation(x, y, k):

    kf = KFold(n_splits=k, shuffle=True, random_state=42)

    r2_list = []
    rmse_list = []
    corr_list = []

    for train_index, test_index in kf.split(x):
        x_train, x_test = x[train_index], x[test_index]
        y_train, y_test = y[train_index], y[test_index]

        y_pred_test = fit_and_predict(x_train, y_train, x_test)

        r2_list.append(r2_score(y_test, y_pred_test))
        rmse_list.append(np.sqrt(mean_squared_error(y_test, y_pred_test)))
        corr_list.append(np.corrcoef(y_test, y_pred_test)[0, 1])

    return (np.mean(r2_list), np.mean(rmse_list), np.mean(corr_list))

def predict_age_profile(nssec_df, age_df, nssec_row_to_predict):

    norm_age_df = age_df.div(age_df.sum(axis=1), axis=0)

    preds = []

    for year in range(100):
        x = np.array(nssec_df)
        y = np.array(norm_age_df[year])

        model = sm.OLS(y, x)
        result = model.fit()
        y_pred = result.get_prediction(nssec_row_to_predict).summary_frame(alpha=0.00)["mean"]

        preds.append(y_pred[0])

    return preds


--------------------------------------------------

--- Contents of /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/fynesse/config.py ---

import os
import yaml

default_file = os.path.join(os.path.dirname(__file__), "defaults.yml")
local_file = os.path.abspath(os.path.join(os.path.dirname(__file__), "machine.yml"))
user_file = '_config.yml'

config = {}

if os.path.exists(default_file):
    with open(default_file) as file:
        config.update(yaml.load(file, Loader=yaml.FullLoader))

if os.path.exists(local_file):
    with open(local_file) as file:
        config.update(yaml.load(file, Loader=yaml.FullLoader))

if os.path.exists(user_file):
    with open(user_file) as file:
        config.update(yaml.load(file, Loader=yaml.FullLoader))

if config=={}:
    raise ValueError(
        "No configuration file found at either "
        + user_file
        + " or "
        + local_file
        + " or "
        + default_file
        + "."
    )

for key, item in config.items():
    if item is str:
        config[key] = os.path.expandvars(item)


--------------------------------------------------

--- Contents of /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/fynesse/access.py ---

from .config import *

import requests
import pymysql
import csv
import pandas as pd
import osmnx as ox
import yaml
import zipfile
import io
import math
import numpy as np
import os



################ These functions are used for downloading data and transforming it by the scheme csv <-> db <-> df ################



def download_data_csv(file_url_list, file_name_list):
    """
    Download data from the web in the format of csv.
    """

    if len(file_url_list) != len(file_name_list):
        raise Exception("file_url_list and file_name_list must be of equal length")

    for i in range(len(file_url_list)):
        file_url = file_url_list[i]
        file_name = file_name_list[i]
        print (f"Downloading data from {file_url}")
        response = requests.get(file_url)
        if response.status_code == 200:
            with open("./" + file_name, "wb") as file:
                file.write(response.content)

def download_data_zip(file_url, file_name):
    """
    Download data from the web in the format of zip.
    """

    # Getting zip
    response = requests.get(file_url)

    if response.status_code == 200:
        print("ZIP file has been downloaded successfully!")

        # Getting csv
        zip_file = zipfile.ZipFile(io.BytesIO(response.content))
        csv_file = zip_file.open(file_name)

        # Saving csv
        file = open("./" + file_name, "wb")
        file.write(csv_file.read())
        print("File has been saved successfully.")

def download_census_data(code, base_dir=''):

    url = f'https://www.nomisweb.co.uk/output/census/2021/census2021-{code.lower()}.zip'
    extract_dir = os.path.join(base_dir, os.path.splitext(os.path.basename(url))[0])

    if os.path.exists(extract_dir) and os.listdir(extract_dir):
        print(f"Files already exist at: {extract_dir}.")
        return

    os.makedirs(extract_dir, exist_ok=True)
    response = requests.get(url)
    response.raise_for_status()

    with zipfile.ZipFile(io.BytesIO(response.content)) as zip_ref:
        zip_ref.extractall(extract_dir)

    print(f"Files extracted to: {extract_dir}")

def load_census_data(code, level='msoa'):

    return pd.read_csv(f'census2021-{code.lower()}/census2021-{code.lower()}-{level}.csv')

def create_connection(database='ads_2024'):
    """
    Create a database connection to the MariaDB database
    specified by the host url and database name.
    Returns Connection object or None.
    """

    with open("credentials.yaml") as file:
        credentials = yaml.safe_load(file)

    conn = None
    try:
        conn = pymysql.connect(user=credentials["username"],
                               passwd=credentials["password"],
                               host=credentials["url"],
                               port=(int)(credentials["port"]),
                               local_infile=1,
                               db=database
                               )
        print(f"Connection established!")
    except Exception as e:
        print(f"Error connecting to the MariaDB Server: {e}")

    return conn

def csv_to_df(file_name):

    try:
        df = pd.read_csv("./" + file_name)
        return df
    except Exception as e:
        print(f"Error loading CSV file: {e}")
        return None

def csv_to_db(conn, file_name, table_name, ignore_first_row):

    cur = conn.cursor()

    csv_file_path = './' + file_name
    print(f'Loading data into the table')
    if ignore_first_row:
        cur.execute(f"LOAD DATA LOCAL INFILE '{csv_file_path}' INTO TABLE `{table_name}` FIELDS TERMINATED BY ',' OPTIONALLY ENCLOSED by '\"' LINES STARTING BY '' TERMINATED BY '\n' IGNORE 1 LINES;")
    else:
        cur.execute(f"LOAD DATA LOCAL INFILE '{csv_file_path}' INTO TABLE `{table_name}` FIELDS TERMINATED BY ',' OPTIONALLY ENCLOSED by '\"' LINES STARTING BY '' TERMINATED BY '\n';")
    print(f'Data loaded into the table {table_name}')

    conn.commit()

def db_to_csv(conn, table_name, file_name):

    try:
        cur = conn.cursor()

        cur.execute(f"SELECT * FROM `{table_name}`;")
        column_titles = [desc[0] for desc in cur.description]
        rows = cur.fetchall()

        with open(file_name, mode='w', newline='', encoding='utf-8') as csv_file:
            writer = csv.writer(csv_file)
            writer.writerow(column_titles)
            writer.writerows(rows)
        print(f"Data successfully exported to {file_name}")
    except Exception as e:
        print(f"Error: {e}")
    finally:
        conn.commit()

def df_to_csv(df, file_name):

    try:
        df.to_csv("./" + file_name, index=False)
        print(f"DataFrame successfully saved to {file_name}")
    except Exception as e:
        print(f"Error: {e}")

def housing_upload_join_data_csv(conn, start_date, end_date, csv_file_name):
    # start_date = str(year) + "-01-01"
    # end_date = str(year) + "-12-31"

  cur = conn.cursor()
  print(f'Selecting data')
  cur.execute(f'''
    SELECT
      pp.price, pp.date_of_transfer, pp.postcode, pp.property_type,
      pp.new_build_flag, pp.tenure_type, pp.primary_addressable_object_name,
      pp.secondary_addressable_object_name, pp.street, pp.locality,
      pp.town_city, pp.district, pp.county, po.country, po.latitude,
      po.longitude, po.easting, po.northing
    FROM (
      SELECT
        price, date_of_transfer, postcode, property_type, new_build_flag,
        tenure_type, primary_addressable_object_name, secondary_addressable_object_name,
        street, locality, town_city, district, county
      FROM pp_data
      WHERE date_of_transfer BETWEEN "{start_date}" AND "{end_date}"
    ) AS pp
    INNER JOIN postcode_data AS po
    ON pp.postcode = po.postcode;
  ''')
  rows = cur.fetchall()

  # Write the rows to the CSV file
  with open(csv_file_name, 'w', newline='') as csvfile:
    csv_writer = csv.writer(csvfile)
    # Write the data rows
    csv_writer.writerows(rows)
  print(f'CSV has been formed. Uploading data to the database')
  cur.execute(f"LOAD DATA LOCAL INFILE '" + csv_file_name + "' INTO TABLE `prices_coordinates_data` FIELDS TERMINATED BY ',' OPTIONALLY ENCLOSED by '\"' LINES STARTING BY '' TERMINATED BY '\n';")
  print(f'Data has been uploaded to the databse successfully')
  conn.commit()

def housing_upload_join_data(conn, start_date, end_date):
    # start_date = str(year) + "-01-01"
    # end_date = str(year) + "-12-31"

    cur = conn.cursor()
    print(f'Selecting and inserting data from {start_date} to {end_date}')
    query = f"""
        INSERT INTO prices_coordinates_data (
            price, date_of_transfer, postcode, property_type,
            new_build_flag, tenure_type, primary_addressable_object_name,
            secondary_addressable_object_name, street, locality, town_city,
            district, county, country, latitude, longitude, easting, northing
        )
        SELECT
            pp.price, pp.date_of_transfer, pp.postcode, pp.property_type,
            pp.new_build_flag, pp.tenure_type, pp.primary_addressable_object_name,
            pp.secondary_addressable_object_name, pp.street, pp.locality,
            pp.town_city, pp.district, pp.county, po.country, po.latitude,
            po.longitude, po.easting, po.northing
        FROM pp_data AS pp
        INNER JOIN postcode_data AS po
        ON pp.postcode = po.postcode
        WHERE pp.date_of_transfer BETWEEN \"{start_date}\" AND \"{end_date}\";
    """
    cur.execute(query)
    conn.commit()
    print(f'Data from {start_date} to {end_date} has been inserted successfully')

def download_and_extract_zip(url, zip_file_path, extraction_folder):
    print("Downloading file")
    response = requests.get(url, stream=True)
    if response.status_code == 200:
        with open(zip_file_path, "wb") as file:
            for chunk in response.iter_content(chunk_size=8192):
                file.write(chunk)
        print(f"Downloaded zip file to {zip_file_path}")
    else:
        print(f"Failed to download file. Status code: {response.status_code}")

    print("Extracting file")
    if zipfile.is_zipfile(zip_file_path):
        with zipfile.ZipFile(zip_file_path, "r") as zip_ref:
            os.makedirs(extraction_folder, exist_ok=True)
            zip_ref.extractall(extraction_folder)
        print(f"Extracted files to {extraction_folder}")
    else:
        print(f"{zip_file_path} is not a valid zip file.")



################ These functions are used for operating with OSM-style data ################



def get_bounds(lat, lon, km_box_dimension):
    """
    lat: Latitude of the center point in decimal degrees.
    lon: Longitude of the center point in decimal degrees.
    km_distance: Distance between sides in kilometers.
    Returns (up, down, left, right): border coordinates.
    """

    earth_radius = 6371.0 # km
    km_distance = km_box_dimension / 2

    angular_distance = km_distance / earth_radius

    up_lat = lat + math.degrees(angular_distance)
    down_lat = lat - math.degrees(angular_distance)

    left_lon = lon - math.degrees(angular_distance / math.cos(math.radians(lat)))
    right_lon = lon + math.degrees(angular_distance / math.cos(math.radians(lat)))

    return (up_lat, down_lat, left_lon, right_lon)

def get_bounds_by_name(place_name):

    # Fetch the boundary polygon for the given place name
    gdf = ox.geocode_to_gdf(place_name)

    bounds = gdf.total_bounds

    return bounds

def km_distance(lat1, lon1, lat2, lon2):

    # Convert latitude and longitude from degrees to radians
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])

    # Radius of the Earth in kilometers
    R = 6371.0

    # Differences in coordinates
    dlat = lat2 - lat1
    dlon = lon2 - lon1

    # Haversine formula
    a = np.sin(dlat / 2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))

    km_distance = R * c
    return km_distance

def get_all_buildings_from_osm_by_bounds(bounds, tags = {'building': True}):

    (north, south, east, west) = bounds

    # Get information about all buildings in the area
    all_buildings_from_osm = ox.geometries_from_bbox(north, south, east, west, tags)

    return all_buildings_from_osm


--------------------------------------------------

--- Contents of /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/fynesse/__init__.py ---

from . import access
from . import assess


--------------------------------------------------

--- Contents of /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/fynesse/assess.py ---

from .config import *

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.cluster import KMeans
import osmnx as ox
import seaborn as sns
from sklearn.metrics import mean_squared_error, r2_score



def csv_preview(file_name):

    try:
        with open("./" + file_name, 'r') as file:
            column_titles = file.readline().strip()
            print("Column Titles:")
            print(column_titles)

            print("\nFirst 10 Rows:")
            for i in range(10):
                row = file.readline().strip()
                if row:
                    print(row)
                else:
                    break
    except Exception as e:
        print(f"Error: {e}")

def execute_query(conn, query):
    """
    Examples are:
    SHOW TABLES;
    SHOW TABLE STATUS LIKE '{table_name}';
    SHOW INDEX FROM `{table_name}`;
    SELECT * FROM `{table_name}` LIMIT {sample_size};
    SELECT count(*) FROM `{table_name}`;
    SELECT MIN({column}) AS min_value, MAX({column}) AS max_value FROM `{table_name}`
    """

    cur = conn.cursor()
    cur.execute(query)
    rows = cur.fetchall()

    conn.commit()

    return rows

def create_table_by_query(conn, table_name, columns, column_names, data_types, constraints):

    if columns != len(column_names):
        raise Exception("columns != len(column_names)")
    elif columns != len(data_types):
        raise Exception("columns != len(data_types)")
    elif columns != len(constraints):
        raise Exception("columns != len(constraints)")
    else:
        query = f'CREATE TABLE {table_name} ({", ".join([f"`{column_names[i]}` {data_types[i]} {constraints[i]}" for i in range(columns)])})'
        print(query)
        execute_query(conn, query)

def create_single_index(conn, index_name, table_name, field_name):

    rows = execute_query(conn, f"CREATE INDEX {index_name} ON {table_name}({field_name});")

    return rows

def create_multiple_index(conn, index_name, table_name, field_names):

    rows = execute_query(conn, f"CREATE INDEX {index_name} ON `{table_name}` ({', '.join(field_names)})")

    return rows

def get_summary_on_db(conn):

    tables = execute_query(conn, "SHOW TABLES;")

    for row in tables:
        table_name = row[0]
        table_status = execute_query(conn, f"SHOW TABLE STATUS LIKE '{table_name}';")
        approx_row_count = table_status[0][4] if table_status else 'Unable to fetch row count'
        print(f"\nTable {table_name} - Approx Row Count {approx_row_count//100000/10}M")

        column_names = execute_query(conn, f"SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = '{table_name}';")
        print(tuple(item[0] for item in column_names))

        limit = 3
        first_rows = execute_query(conn, f"SELECT * FROM `{table_name}` LIMIT {limit};")
        for row in first_rows:
            print(row)

        indices = execute_query(conn, f"SHOW INDEX FROM `{table_name}`;")
        if indices:
            print("Indices:")
            for index in indices:
                print(f" - {index[2]} ({index[10]}): Column {index[4]}")
        else:
            print("No indices set on this table.")



################################



def normalise_df(data, columns_not_to_normalize = ['location']):

    # separating columns that should not be normalised
    excluded_data = data[columns_not_to_normalize]
    data_to_normalize = data.drop(columns=columns_not_to_normalize)

    # normalising remaining columns
    scaler = MinMaxScaler()
    scaled_data = pd.DataFrame(scaler.fit_transform(data_to_normalize), columns=data_to_normalize.columns) # add index=data.index

    # concatenating excluded and normalised data
    normalised_df = pd.concat([excluded_data, scaled_data], axis=1)

    return normalised_df

def kmeans_clusters(data, n_clusters):

    kmeans = KMeans(n_clusters=n_clusters, random_state=0)
    kmeans.fit(data)
    clusters = kmeans.labels_

    return clusters



################################



def plot_clusters(clustered_data, n_clusters):

    colors = sns.color_palette("hsv", n_clusters)  # other options: "Spectral", "cubehelix", etc.

    plt.figure(figsize = (10, 10))

    for cluster, color in enumerate(colors):
        cluster_data = clustered_data[clustered_data['cluster'] == cluster]
        plt.scatter(
            cluster_data['longitude'],
            cluster_data['latitude'],
            label=f'Cluster {cluster}',
            color=color
        )
        for _, row in cluster_data.iterrows():
            plt.text(row['longitude'] + 0.02, row['latitude'] + 0.02, row['location'])

    plt.axis('equal')
    plt.grid(True)
    plt.xlabel('Longitude')
    plt.ylabel('Latitude')
    plt.legend(title='Clusters')
    plt.show()

def plot_correlation_matrix(data, columns_to_drop):

    correlation_matrix = data.drop(columns_to_drop).corr()

    dim = len(correlation_matrix.columns)

    plt.figure(figsize=(10, 8))
    plt.imshow(correlation_matrix, cmap='coolwarm', interpolation='nearest')
    plt.colorbar(label='Correlation Coefficient')
    plt.title("Correlation Matrix of Features")
    plt.xticks(range(dim), correlation_matrix.columns, rotation=45, ha='right')
    plt.yticks(range(dim), correlation_matrix.columns)

    for i in range(dim):
        for j in range(dim):